openapi: 3.1.0
info:
  version: 3.0.0
  title: Escape Public Asm Beta API
  description: 'This API enables you to operate [Escape](https://escape.tech/) programmatically.


    All requests must be authenticated with a valid API key, provided in the `X-ESCAPE-API-KEY` header.

    For example: `X-ESCAPE-API-KEY: YOUR_API_KEY`.


    You can find your API key in the [Escape dashboard](https://app.escape.tech/user/).'
servers:
- url: https://public.escape.tech/v3
security:
- apiKey: []
tags:
- name: Beta
  description: 'Beta


    These endpoints are in beta and are subject to change.'
paths:
  /profiles/ai-pentesting/rest:
    post:
      tags:
      - Beta
      summary: Create an Automated Pentest REST profile
      operationId: createPentestRestProfile
      description: Create an Automated Pentest REST profile.
      requestBody:
        description: Body of the request to create an asset
        content:
          application/json:
            schema:
              type: object
              properties:
                assetId:
                  type: string
                  format: uuid
                  description: The asset ID for the profile
                  example: 00000000-0000-0000-0000-000000000000
                configuration:
                  type: string
                  description: The scan configuration encoded as a JSON string (legacy public API contract).
                  examples:
                  - '{"authentication":{"users":[{"name":"public"}]}}'
                  - '{"mode":"read_only"}'
                  example: '{"authentication":{"users":[{"name":"public"}]}}'
                configurationObject:
                  type: object
                  properties:
                    public_location_ids:
                      type:
                      - array
                      - 'null'
                      items:
                        type: string
                    private_location_ids:
                      type:
                      - array
                      - 'null'
                      items:
                        type: string
                    scope:
                      type:
                      - object
                      - 'null'
                      properties:
                        use_defaults:
                          type:
                          - boolean
                          - 'null'
                        allowlist:
                          type:
                          - array
                          - 'null'
                          items:
                            oneOf:
                            - type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - domain
                                value:
                                  type: string
                                operation:
                                  type:
                                  - string
                                  - 'null'
                                  enum:
                                  - equals
                                  - starts_with
                                  - ends_with
                                  - contains
                                  - regex
                                  - wildcard
                                  - null
                              required:
                              - type
                              - value
                            - type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - ip
                                value:
                                  type: string
                                operation:
                                  type:
                                  - string
                                  - 'null'
                                  enum:
                                  - equals
                                  - starts_with
                                  - ends_with
                                  - contains
                                  - regex
                                  - wildcard
                                  - null
                              required:
                              - type
                              - value
                            - type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - web_page_url
                                value:
                                  type: string
                                operation:
                                  type:
                                  - string
                                  - 'null'
                                  enum:
                                  - equals
                                  - starts_with
                                  - ends_with
                                  - contains
                                  - regex
                                  - wildcard
                                  - null
                              required:
                              - type
                              - value
                            - type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - rest_api_path
                                value:
                                  type: string
                                operation:
                                  type:
                                  - string
                                  - 'null'
                                  enum:
                                  - equals
                                  - starts_with
                                  - ends_with
                                  - contains
                                  - regex
                                  - wildcard
                                  - null
                                method:
                                  type:
                                  - string
                                  - 'null'
                                  enum:
                                  - CONNECT
                                  - DELETE
                                  - GET
                                  - HEAD
                                  - OPTIONS
                                  - PATCH
                                  - POST
                                  - PUT
                                  - TRACE
                                  - null
                                domain:
                                  type:
                                  - string
                                  - 'null'
                              required:
                              - type
                              - value
                            - type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - rest_api_url
                                value:
                                  type: string
                                operation:
                                  type:
                                  - string
                                  - 'null'
                                  enum:
                                  - equals
                                  - starts_with
                                  - ends_with
                                  - contains
                                  - regex
                                  - wildcard
                                  - null
                                method:
                                  type:
                                  - string
                                  - 'null'
                                  enum:
                                  - CONNECT
                                  - DELETE
                                  - GET
                                  - HEAD
                                  - OPTIONS
                                  - PATCH
                                  - POST
                                  - PUT
                                  - TRACE
                                  - null
                              required:
                              - type
                              - value
                            - type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - graphql_operation
                                value:
                                  type: string
                                operation:
                                  type:
                                  - string
                                  - 'null'
                                  enum:
                                  - equals
                                  - starts_with
                                  - ends_with
                                  - contains
                                  - regex
                                  - wildcard
                                  - null
                              required:
                              - type
                              - value
                            - type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - web_page_element_selector
                                value:
                                  type: string
                                operation:
                                  type:
                                  - string
                                  - 'null'
                                  enum:
                                  - equals
                                  - starts_with
                                  - ends_with
                                  - contains
                                  - regex
                                  - wildcard
                                  - null
                              required:
                              - type
                              - value
                        blocklist:
                          type:
                          - array
                          - 'null'
                          items:
                            oneOf:
                            - type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - domain
                                value:
                                  type: string
                                operation:
                                  type:
                                  - string
                                  - 'null'
                                  enum:
                                  - equals
                                  - starts_with
                                  - ends_with
                                  - contains
                                  - regex
                                  - wildcard
                                  - null
                              required:
                              - type
                              - value
                            - type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - ip
                                value:
                                  type: string
                                operation:
                                  type:
                                  - string
                                  - 'null'
                                  enum:
                                  - equals
                                  - starts_with
                                  - ends_with
                                  - contains
                                  - regex
                                  - wildcard
                                  - null
                              required:
                              - type
                              - value
                            - type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - web_page_url
                                value:
                                  type: string
                                operation:
                                  type:
                                  - string
                                  - 'null'
                                  enum:
                                  - equals
                                  - starts_with
                                  - ends_with
                                  - contains
                                  - regex
                                  - wildcard
                                  - null
                              required:
                              - type
                              - value
                            - type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - rest_api_path
                                value:
                                  type: string
                                operation:
                                  type:
                                  - string
                                  - 'null'
                                  enum:
                                  - equals
                                  - starts_with
                                  - ends_with
                                  - contains
                                  - regex
                                  - wildcard
                                  - null
                                method:
                                  type:
                                  - string
                                  - 'null'
                                  enum:
                                  - CONNECT
                                  - DELETE
                                  - GET
                                  - HEAD
                                  - OPTIONS
                                  - PATCH
                                  - POST
                                  - PUT
                                  - TRACE
                                  - null
                                domain:
                                  type:
                                  - string
                                  - 'null'
                              required:
                              - type
                              - value
                            - type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - rest_api_url
                                value:
                                  type: string
                                operation:
                                  type:
                                  - string
                                  - 'null'
                                  enum:
                                  - equals
                                  - starts_with
                                  - ends_with
                                  - contains
                                  - regex
                                  - wildcard
                                  - null
                                method:
                                  type:
                                  - string
                                  - 'null'
                                  enum:
                                  - CONNECT
                                  - DELETE
                                  - GET
                                  - HEAD
                                  - OPTIONS
                                  - PATCH
                                  - POST
                                  - PUT
                                  - TRACE
                                  - null
                              required:
                              - type
                              - value
                            - type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - graphql_operation
                                value:
                                  type: string
                                operation:
                                  type:
                                  - string
                                  - 'null'
                                  enum:
                                  - equals
                                  - starts_with
                                  - ends_with
                                  - contains
                                  - regex
                                  - wildcard
                                  - null
                              required:
                              - type
                              - value
                            - type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - web_page_element_selector
                                value:
                                  type: string
                                operation:
                                  type:
                                  - string
                                  - 'null'
                                  enum:
                                  - equals
                                  - starts_with
                                  - ends_with
                                  - contains
                                  - regex
                                  - wildcard
                                  - null
                              required:
                              - type
                              - value
                    exploration_scope:
                      type:
                      - array
                      - 'null'
                      items:
                        type: string
                    api_custom_rule_ids:
                      type:
                      - array
                      - 'null'
                      items:
                        type: string
                    frontend_custom_rule_ids:
                      type:
                      - array
                      - 'null'
                      items:
                        type: string
                    mode:
                      type:
                      - string
                      - 'null'
                      enum:
                      - read_only
                      - read_write
                      - null
                    authentication:
                      type:
                      - object
                      - 'null'
                      properties:
                        $schema:
                          type: string
                        lifetime:
                          type:
                          - number
                          - 'null'
                        procedures:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                              operations:
                                type: array
                                items:
                                  oneOf:
                                  - type: object
                                    properties:
                                      tech:
                                        type: string
                                        enum:
                                        - http
                                      parameters:
                                        type: object
                                        properties:
                                          proxy_override:
                                            type:
                                            - string
                                            - 'null'
                                          url:
                                            type: string
                                          method:
                                            type: string
                                            enum:
                                            - CONNECT
                                            - DELETE
                                            - GET
                                            - HEAD
                                            - OPTIONS
                                            - PATCH
                                            - POST
                                            - PUT
                                            - TRACE
                                          headers:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                name:
                                                  type: string
                                                values:
                                                  type: array
                                                  items:
                                                    type: string
                                              required:
                                              - name
                                              - values
                                          cookies:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                name:
                                                  type: string
                                                domain:
                                                  type:
                                                  - string
                                                  - 'null'
                                                path:
                                                  type:
                                                  - string
                                                  - 'null'
                                                http_only:
                                                  type:
                                                  - boolean
                                                  - 'null'
                                                secure:
                                                  type:
                                                  - boolean
                                                  - 'null'
                                                same_site:
                                                  type:
                                                  - string
                                                  - 'null'
                                                  enum:
                                                  - Strict
                                                  - Lax
                                                  - None
                                                  - null
                                                values:
                                                  type: array
                                                  items:
                                                    type: string
                                              required:
                                              - name
                                              - values
                                          queryParameters:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                name:
                                                  type: string
                                                values:
                                                  type: array
                                                  items:
                                                    type: string
                                              required:
                                              - name
                                              - values
                                          body: {}
                                          timeout:
                                            type: number
                                          insecure:
                                            type: boolean
                                          follow_redirects:
                                            type: number
                                        required:
                                        - url
                                        - method
                                        - headers
                                        - cookies
                                        - queryParameters
                                      extractions:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            location:
                                              type: string
                                              enum:
                                              - header
                                              - cookie
                                              - body
                                              - query
                                            key:
                                              type: string
                                            regex:
                                              type: string
                                            name:
                                              type: string
                                          required:
                                          - location
                                          - key
                                          - name
                                    required:
                                    - tech
                                    - parameters
                                    - extractions
                                  - type: object
                                    properties:
                                      tech:
                                        type: string
                                        enum:
                                        - oauth_authz_code_browser
                                      parameters:
                                        type: object
                                        properties:
                                          proxy_override:
                                            type:
                                            - string
                                            - 'null'
                                          login_url:
                                            type: string
                                          auto_extraction_urls:
                                            type:
                                            - array
                                            - 'null'
                                            items:
                                              type: string
                                          logged_in_detector_text:
                                            type:
                                            - string
                                            - 'null'
                                          logged_in_detector_timeout:
                                            type:
                                            - number
                                            - 'null'
                                          stealth_mode:
                                            type:
                                            - boolean
                                            - 'null'
                                          logout_detection:
                                            type:
                                            - object
                                            - 'null'
                                            properties:
                                              enabled:
                                                type:
                                                - boolean
                                                - 'null'
                                              instructions:
                                                type:
                                                - string
                                                - 'null'
                                          authorization_url:
                                            type: string
                                          token_url:
                                            type: string
                                          redirect_uri:
                                            type: string
                                          client_id:
                                            type: string
                                          client_secret:
                                            type: string
                                          use_pkce:
                                            type: boolean
                                          login_timeout:
                                            type: number
                                        required:
                                        - login_url
                                        - authorization_url
                                        - token_url
                                        - redirect_uri
                                        - client_id
                                        - client_secret
                                        - use_pkce
                                        - login_timeout
                                      extractions:
                                        anyOf:
                                        - type: array
                                          items:
                                            type: object
                                            properties:
                                              location:
                                                type: string
                                                enum:
                                                - header
                                                - cookie
                                                - body
                                                - query
                                              key:
                                                type: string
                                              regex:
                                                type: string
                                              name:
                                                type: string
                                            required:
                                            - location
                                            - key
                                            - name
                                        - type: array
                                          items:
                                            type: object
                                            properties:
                                              location:
                                                type: string
                                                enum:
                                                - page
                                                - browser_local_storage
                                                - browser_session_storage
                                                - browser_cookies
                                              origin:
                                                type: string
                                              key:
                                                type: string
                                              name:
                                                type: string
                                              regex:
                                                type:
                                                - string
                                                - 'null'
                                              jq:
                                                type:
                                                - string
                                                - 'null'
                                            required:
                                            - location
                                            - origin
                                            - key
                                            - name
                                    required:
                                    - tech
                                    - parameters
                                    - extractions
                                  - type: object
                                    properties:
                                      tech:
                                        type: string
                                        enum:
                                        - browser_agent
                                      parameters:
                                        type: object
                                        properties:
                                          proxy_override:
                                            type:
                                            - string
                                            - 'null'
                                          login_url:
                                            type: string
                                          auto_extraction_urls:
                                            type:
                                            - array
                                            - 'null'
                                            items:
                                              type: string
                                          logged_in_detector_text:
                                            type:
                                            - string
                                            - 'null'
                                          logged_in_detector_timeout:
                                            type:
                                            - number
                                            - 'null'
                                          stealth_mode:
                                            type:
                                            - boolean
                                            - 'null'
                                          logout_detection:
                                            type:
                                            - object
                                            - 'null'
                                            properties:
                                              enabled:
                                                type:
                                                - boolean
                                                - 'null'
                                              instructions:
                                                type:
                                                - string
                                                - 'null'
                                          agentic:
                                            type:
                                            - object
                                            - 'null'
                                            properties:
                                              enabled:
                                                type: boolean
                                              instructions:
                                                type:
                                                - string
                                                - 'null'
                                            required:
                                            - enabled
                                        required:
                                        - login_url
                                      extractions:
                                        anyOf:
                                        - type: array
                                          items:
                                            type: object
                                            properties:
                                              location:
                                                type: string
                                                enum:
                                                - header
                                                - cookie
                                                - body
                                                - query
                                              key:
                                                type: string
                                              regex:
                                                type: string
                                              name:
                                                type: string
                                            required:
                                            - location
                                            - key
                                            - name
                                        - type: array
                                          items:
                                            type: object
                                            properties:
                                              location:
                                                type: string
                                                enum:
                                                - page
                                                - browser_local_storage
                                                - browser_session_storage
                                                - browser_cookies
                                              origin:
                                                type: string
                                              key:
                                                type: string
                                              name:
                                                type: string
                                              regex:
                                                type:
                                                - string
                                                - 'null'
                                              jq:
                                                type:
                                                - string
                                                - 'null'
                                            required:
                                            - location
                                            - origin
                                            - key
                                            - name
                                    required:
                                    - tech
                                    - parameters
                                    - extractions
                                  - type: object
                                    properties:
                                      tech:
                                        type: string
                                        enum:
                                        - browser_actions
                                      parameters:
                                        type: object
                                        properties:
                                          proxy_override:
                                            type:
                                            - string
                                            - 'null'
                                          login_url:
                                            type: string
                                          auto_extraction_urls:
                                            type:
                                            - array
                                            - 'null'
                                            items:
                                              type: string
                                          logged_in_detector_text:
                                            type:
                                            - string
                                            - 'null'
                                          logged_in_detector_timeout:
                                            type:
                                            - number
                                            - 'null'
                                          stealth_mode:
                                            type:
                                            - boolean
                                            - 'null'
                                          logout_detection:
                                            type:
                                            - object
                                            - 'null'
                                            properties:
                                              enabled:
                                                type:
                                                - boolean
                                                - 'null'
                                              instructions:
                                                type:
                                                - string
                                                - 'null'
                                        required:
                                        - login_url
                                      extractions:
                                        anyOf:
                                        - type: array
                                          items:
                                            type: object
                                            properties:
                                              location:
                                                type: string
                                                enum:
                                                - header
                                                - cookie
                                                - body
                                                - query
                                              key:
                                                type: string
                                              regex:
                                                type: string
                                              name:
                                                type: string
                                            required:
                                            - location
                                            - key
                                            - name
                                        - type: array
                                          items:
                                            type: object
                                            properties:
                                              location:
                                                type: string
                                                enum:
                                                - page
                                                - browser_local_storage
                                                - browser_session_storage
                                                - browser_cookies
                                              origin:
                                                type: string
                                              key:
                                                type: string
                                              name:
                                                type: string
                                              regex:
                                                type:
                                                - string
                                                - 'null'
                                              jq:
                                                type:
                                                - string
                                                - 'null'
                                            required:
                                            - location
                                            - origin
                                            - key
                                            - name
                                    required:
                                    - tech
                                    - parameters
                                    - extractions
                                  - type: object
                                    properties:
                                      tech:
                                        type: string
                                        enum:
                                        - custom_bpce
                                      parameters:
                                        type: object
                                        properties:
                                          proxy_override:
                                            type:
                                            - string
                                            - 'null'
                                          environment:
                                            type: string
                                            enum:
                                            - BP
                                            - CE
                                        required:
                                        - environment
                                      extractions:
                                        anyOf:
                                        - type: array
                                          items:
                                            type: object
                                            properties:
                                              location:
                                                type: string
                                                enum:
                                                - header
                                                - cookie
                                                - body
                                                - query
                                              key:
                                                type: string
                                              regex:
                                                type: string
                                              name:
                                                type: string
                                            required:
                                            - location
                                            - key
                                            - name
                                        - type: array
                                          items:
                                            type: object
                                            properties:
                                              location:
                                                type: string
                                                enum:
                                                - page
                                                - browser_local_storage
                                                - browser_session_storage
                                                - browser_cookies
                                              origin:
                                                type: string
                                              key:
                                                type: string
                                              name:
                                                type: string
                                              regex:
                                                type:
                                                - string
                                                - 'null'
                                              jq:
                                                type:
                                                - string
                                                - 'null'
                                            required:
                                            - location
                                            - origin
                                            - key
                                            - name
                                    required:
                                    - tech
                                    - parameters
                                    - extractions
                                  - type: object
                                    properties:
                                      tech:
                                        type: string
                                        enum:
                                        - custom_msc
                                      parameters:
                                        type: object
                                        properties:
                                          proxy_override:
                                            type:
                                            - string
                                            - 'null'
                                          tenant_id:
                                            type: string
                                          client_id:
                                            type: string
                                          resource_app_id:
                                            type: string
                                          certificate_pfx_base64:
                                            type: string
                                          certificate_password:
                                            type:
                                            - string
                                            - 'null'
                                          scope:
                                            type:
                                            - string
                                            - 'null'
                                          token_url:
                                            type:
                                            - string
                                            - 'null'
                                        required:
                                        - tenant_id
                                        - client_id
                                        - resource_app_id
                                        - certificate_pfx_base64
                                      extractions:
                                        anyOf:
                                        - type: array
                                          items:
                                            type: object
                                            properties:
                                              location:
                                                type: string
                                                enum:
                                                - header
                                                - cookie
                                                - body
                                                - query
                                              key:
                                                type: string
                                              regex:
                                                type: string
                                              name:
                                                type: string
                                            required:
                                            - location
                                            - key
                                            - name
                                        - type: array
                                          items:
                                            type: object
                                            properties:
                                              location:
                                                type: string
                                                enum:
                                                - page
                                                - browser_local_storage
                                                - browser_session_storage
                                                - browser_cookies
                                              origin:
                                                type: string
                                              key:
                                                type: string
                                              name:
                                                type: string
                                              regex:
                                                type:
                                                - string
                                                - 'null'
                                              jq:
                                                type:
                                                - string
                                                - 'null'
                                            required:
                                            - location
                                            - origin
                                            - key
                                            - name
                                    required:
                                    - tech
                                    - parameters
                                    - extractions
                              injections:
                                anyOf:
                                - type: array
                                  items:
                                    type: object
                                    properties:
                                      location:
                                        type: string
                                        enum:
                                        - header
                                        - cookie
                                        - body
                                        - query
                                      key:
                                        type: string
                                      prefix:
                                        type: string
                                      variable:
                                        type: string
                                    required:
                                    - location
                                    - key
                                    - variable
                                - type: array
                                  items:
                                    type: object
                                    properties:
                                      location:
                                        type: string
                                        enum:
                                        - page
                                        - browser_local_storage
                                        - browser_session_storage
                                        - browser_cookies
                                      origin:
                                        type: string
                                      key:
                                        type: string
                                      variable:
                                        type: string
                                    required:
                                    - location
                                    - origin
                                    - key
                                    - variable
                            required:
                            - name
                            - operations
                            - injections
                        users:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                              role:
                                type:
                                - string
                                - 'null'
                              credentials:
                                type: object
                                properties:
                                  username:
                                    type: string
                                  password:
                                    type: string
                                  headers:
                                    type:
                                    - array
                                    - 'null'
                                    items:
                                      type: object
                                      properties:
                                        name:
                                          type: string
                                        values:
                                          type: array
                                          items:
                                            type: string
                                      required:
                                      - name
                                      - values
                                  cookies:
                                    type:
                                    - array
                                    - 'null'
                                    items:
                                      type: object
                                      properties:
                                        name:
                                          type: string
                                        domain:
                                          type:
                                          - string
                                          - 'null'
                                        path:
                                          type:
                                          - string
                                          - 'null'
                                        http_only:
                                          type:
                                          - boolean
                                          - 'null'
                                        secure:
                                          type:
                                          - boolean
                                          - 'null'
                                        same_site:
                                          type:
                                          - string
                                          - 'null'
                                          enum:
                                          - Strict
                                          - Lax
                                          - None
                                          - null
                                        values:
                                          type: array
                                          items:
                                            type: string
                                      required:
                                      - name
                                      - values
                                  query_parameters:
                                    type:
                                    - array
                                    - 'null'
                                    items:
                                      type: object
                                      properties:
                                        name:
                                          type: string
                                        values:
                                          type: array
                                          items:
                                            type: string
                                      required:
                                      - name
                                      - values
                                  body: {}
                                  local_storage:
                                    type:
                                    - object
                                    - 'null'
                                    additionalProperties:
                                      type: object
                                      additionalProperties:
                                        type: string
                                  session_storage:
                                    type:
                                    - object
                                    - 'null'
                                    additionalProperties:
                                      type: object
                                      additionalProperties:
                                        type: string
                                  actions:
                                    type:
                                    - array
                                    - 'null'
                                    items:
                                      oneOf:
                                      - type: object
                                        properties:
                                          action:
                                            type: string
                                            enum:
                                            - click
                                          allow_failure:
                                            type:
                                            - boolean
                                            - 'null'
                                          locator:
                                            type: string
                                          timeout:
                                            type:
                                            - number
                                            - 'null'
                                          select_first_if_multiple:
                                            type:
                                            - boolean
                                            - 'null'
                                        required:
                                        - action
                                        - locator
                                      - type: object
                                        properties:
                                          action:
                                            type: string
                                            enum:
                                            - fill
                                          allow_failure:
                                            type:
                                            - boolean
                                            - 'null'
                                          locator:
                                            type: string
                                          one_by_one:
                                            type:
                                            - boolean
                                            - 'null'
                                          value:
                                            type: string
                                          auto_submit:
                                            type:
                                            - boolean
                                            - 'null'
                                          timeout:
                                            type:
                                            - number
                                            - 'null'
                                          select_first_if_multiple:
                                            type:
                                            - boolean
                                            - 'null'
                                        required:
                                        - action
                                        - locator
                                        - value
                                      - type: object
                                        properties:
                                          action:
                                            type: string
                                            enum:
                                            - fill_totp
                                          allow_failure:
                                            type:
                                            - boolean
                                            - 'null'
                                          locator:
                                            type: string
                                          secret:
                                            type: string
                                          auto_submit:
                                            type:
                                            - boolean
                                            - 'null'
                                        required:
                                        - action
                                        - locator
                                        - secret
                                      - type: object
                                        properties:
                                          action:
                                            type: string
                                            enum:
                                            - goto
                                          allow_failure:
                                            type:
                                            - boolean
                                            - 'null'
                                          new_page:
                                            type:
                                            - boolean
                                            - 'null'
                                          url:
                                            type: string
                                          timeout:
                                            type:
                                            - number
                                            - 'null'
                                        required:
                                        - action
                                        - url
                                      - type: object
                                        properties:
                                          action:
                                            type: string
                                            enum:
                                            - check
                                          allow_failure:
                                            type:
                                            - boolean
                                            - 'null'
                                          locator:
                                            type: string
                                          timeout:
                                            type:
                                            - number
                                            - 'null'
                                          select_first_if_multiple:
                                            type:
                                            - boolean
                                            - 'null'
                                        required:
                                        - action
                                        - locator
                                      - type: object
                                        properties:
                                          action:
                                            type: string
                                            enum:
                                            - select
                                          allow_failure:
                                            type:
                                            - boolean
                                            - 'null'
                                          locator:
                                            type: string
                                          value:
                                            type: string
                                          timeout:
                                            type:
                                            - number
                                            - 'null'
                                          select_first_if_multiple:
                                            type:
                                            - boolean
                                            - 'null'
                                        required:
                                        - action
                                        - locator
                                        - value
                                      - type: object
                                        properties:
                                          action:
                                            type: string
                                            enum:
                                            - wait_element
                                          allow_failure:
                                            type:
                                            - boolean
                                            - 'null'
                                          locator:
                                            type: string
                                          timeout:
                                            type: number
                                        required:
                                        - action
                                        - locator
                                        - timeout
                                      - type: object
                                        properties:
                                          action:
                                            type: string
                                            enum:
                                            - wait_text
                                          allow_failure:
                                            type:
                                            - boolean
                                            - 'null'
                                          value:
                                            type: string
                                          timeout:
                                            type: number
                                        required:
                                        - action
                                        - value
                                        - timeout
                                      - type: object
                                        properties:
                                          action:
                                            type: string
                                            enum:
                                            - focus_page
                                          allow_failure:
                                            type:
                                            - boolean
                                            - 'null'
                                          url_pattern:
                                            type: string
                                        required:
                                        - action
                                        - url_pattern
                                      - type: object
                                        properties:
                                          action:
                                            type: string
                                            enum:
                                            - sleep
                                          allow_failure:
                                            type:
                                            - boolean
                                            - 'null'
                                          seconds:
                                            type: number
                                        required:
                                        - action
                                        - seconds
                                      - type: object
                                        properties:
                                          action:
                                            type: string
                                            enum:
                                            - fill_mail_totp
                                            - fill_email_totp
                                          allow_failure:
                                            type:
                                            - boolean
                                            - 'null'
                                          email_address:
                                            type: string
                                          locator:
                                            type: string
                                          one_by_one:
                                            type:
                                            - boolean
                                            - 'null'
                                          auto_submit:
                                            type:
                                            - boolean
                                            - 'null'
                                          timeout:
                                            type:
                                            - number
                                            - 'null'
                                          select_first_if_multiple:
                                            type:
                                            - boolean
                                            - 'null'
                                        required:
                                        - action
                                        - email_address
                                        - locator
                                      - type: object
                                        properties:
                                          action:
                                            type: string
                                            enum:
                                            - click_mail_magic_link
                                          allow_failure:
                                            type:
                                            - boolean
                                            - 'null'
                                          email_address:
                                            type: string
                                          new_page:
                                            type:
                                            - boolean
                                            - 'null'
                                          timeout:
                                            type:
                                            - number
                                            - 'null'
                                        required:
                                        - action
                                        - email_address
                                      - type: object
                                        properties:
                                          action:
                                            type: string
                                            enum:
                                            - solve_captcha
                                          allow_failure:
                                            type:
                                            - boolean
                                            - 'null'
                                          locator:
                                            type: string
                                          auto_submit:
                                            type:
                                            - boolean
                                            - 'null'
                                        required:
                                        - action
                                        - locator
                                  pre_login_actions:
                                    type:
                                    - array
                                    - 'null'
                                    items:
                                      oneOf:
                                      - type: object
                                        properties:
                                          action:
                                            type: string
                                            enum:
                                            - click
                                          allow_failure:
                                            type:
                                            - boolean
                                            - 'null'
                                          locator:
                                            type: string
                                          timeout:
                                            type:
                                            - number
                                            - 'null'
                                          select_first_if_multiple:
                                            type:
                                            - boolean
                                            - 'null'
                                        required:
                                        - action
                                        - locator
                                      - type: object
                                        properties:
                                          action:
                                            type: string
                                            enum:
                                            - fill
                                          allow_failure:
                                            type:
                                            - boolean
                                            - 'null'
                                          locator:
                                            type: string
                                          one_by_one:
                                            type:
                                            - boolean
                                            - 'null'
                                          value:
                                            type: string
                                          auto_submit:
                                            type:
                                            - boolean
                                            - 'null'
                                          timeout:
                                            type:
                                            - number
                                            - 'null'
                                          select_first_if_multiple:
                                            type:
                                            - boolean
                                            - 'null'
                                        required:
                                        - action
                                        - locator
                                        - value
                                      - type: object
                                        properties:
                                          action:
                                            type: string
                                            enum:
                                            - fill_totp
                                          allow_failure:
                                            type:
                                            - boolean
                                            - 'null'
                                          locator:
                                            type: string
                                          secret:
                                            type: string
                                          auto_submit:
                                            type:
                                            - boolean
                                            - 'null'
                                        required:
                                        - action
                                        - locator
                                        - secret
                                      - type: object
                                        properties:
                                          action:
                                            type: string
                                            enum:
                                            - goto
                                          allow_failure:
                                            type:
                                            - boolean
                                            - 'null'
                                          new_page:
                                            type:
                                            - boolean
                                            - 'null'
                                          url:
                                            type: string
                                          timeout:
                                            type:
                                            - number
                                            - 'null'
                                        required:
                                        - action
                                        - url
                                      - type: object
                                        properties:
                                          action:
                                            type: string
                                            enum:
                                            - check
                                          allow_failure:
                                            type:
                                            - boolean
                                            - 'null'
                                          locator:
                                            type: string
                                          timeout:
                                            type:
                                            - number
                                            - 'null'
                                          select_first_if_multiple:
                                            type:
                                            - boolean
                                            - 'null'
                                        required:
                                        - action
                                        - locator
                                      - type: object
                                        properties:
                                          action:
                                            type: string
                                            enum:
                                            - select
                                          allow_failure:
                                            type:
                                            - boolean
                                            - 'null'
                                          locator:
                                            type: string
                                          value:
                                            type: string
                                          timeout:
                                            type:
                                            - number
                                            - 'null'
                                          select_first_if_multiple:
                                            type:
                                            - boolean
                                            - 'null'
                                        required:
                                        - action
                                        - locator
                                        - value
                                      - type: object
                                        properties:
                                          action:
                                            type: string
                                            enum:
                                            - wait_element
                                          allow_failure:
                                            type:
                                            - boolean
                                            - 'null'
                                          locator:
                                            type: string
                                          timeout:
                                            type: number
                                        required:
                                        - action
                                        - locator
                                        - timeout
                                      - type: object
                                        properties:
                                          action:
                                            type: string
                                            enum:
                                            - wait_text
                                          allow_failure:
                                            type:
                                            - boolean
                                            - 'null'
                                          value:
                                            type: string
                                          timeout:
                                            type: number
                                        required:
                                        - action
                                        - value
                                        - timeout
                                      - type: object
                                        properties:
                                          action:
                                            type: string
                                            enum:
                                            - focus_page
                                          allow_failure:
                                            type:
                                            - boolean
                                            - 'null'
                                          url_pattern:
                                            type: string
                                        required:
                                        - action
                                        - url_pattern
                                      - type: object
                                        properties:
                                          action:
                                            type: string
                                            enum:
                                            - sleep
                                          allow_failure:
                                            type:
                                            - boolean
                                            - 'null'
                                          seconds:
                                            type: number
                                        required:
                                        - action
                                        - seconds
                                      - type: object
                                        properties:
                                          action:
                                            type: string
                                            enum:
                                            - fill_mail_totp
                                            - fill_email_totp
                                          allow_failure:
                                            type:
                                            - boolean
                                            - 'null'
                                          email_address:
                                            type: string
                                          locator:
                                            type: string
                                          one_by_one:
                                            type:
                                            - boolean
                                            - 'null'
                                          auto_submit:
                                            type:
                                            - boolean
                                            - 'null'
                                          timeout:
                                            type:
                                            - number
                                            - 'null'
                                          select_first_if_multiple:
                                            type:
                                            - boolean
                                            - 'null'
                                        required:
                                        - action
                                        - email_address
                                        - locator
                                      - type: object
                                        properties:
                                          action:
                                            type: string
                                            enum:
                                            - click_mail_magic_link
                                          allow_failure:
                                            type:
                                            - boolean
                                            - 'null'
                                          email_address:
                                            type: string
                                          new_page:
                                            type:
                                            - boolean
                                            - 'null'
                                          timeout:
                                            type:
                                            - number
                                            - 'null'
                                        required:
                                        - action
                                        - email_address
                                      - type: object
                                        properties:
                                          action:
                                            type: string
                                            enum:
                                            - solve_captcha
                                          allow_failure:
                                            type:
                                            - boolean
                                            - 'null'
                                          locator:
                                            type: string
                                          auto_submit:
                                            type:
                                            - boolean
                                            - 'null'
                                        required:
                                        - action
                                        - locator
                                  post_login_actions:
                                    type:
                                    - array
                                    - 'null'
                                    items:
                                      oneOf:
                                      - type: object
                                        properties:
                                          action:
                                            type: string
                                            enum:
                                            - click
                                          allow_failure:
                                            type:
                                            - boolean
                                            - 'null'
                                          locator:
                                            type: string
                                          timeout:
                                            type:
                                            - number
                                            - 'null'
                                          select_first_if_multiple:
                                            type:
                                            - boolean
                                            - 'null'
                                        required:
                                        - action
                                        - locator
                                      - type: object
                                        properties:
                                          action:
                                            type: string
                                            enum:
                                            - fill
                                          allow_failure:
                                            type:
                                            - boolean
                                            - 'null'
                                          locator:
                                            type: string
                                          one_by_one:
                                            type:
                                            - boolean
                                            - 'null'
                                          value:
                                            type: string
                                          auto_submit:
                                            type:
                                            - boolean
                                            - 'null'
                                          timeout:
                                            type:
                                            - number
                                            - 'null'
                                          select_first_if_multiple:
                                            type:
                                            - boolean
                                            - 'null'
                                        required:
                                        - action
                                        - locator
                                        - value
                                      - type: object
                                        properties:
                                          action:
                                            type: string
                                            enum:
                                            - fill_totp
                                          allow_failure:
                                            type:
                                            - boolean
                                            - 'null'
                                          locator:
                                            type: string
                                          secret:
                                            type: string
                                          auto_submit:
                                            type:
                                            - boolean
[...]
