openapi: 3.1.0
info:
  version: 3.0.0
  title: Escape Public Asm Workflows API
  description: 'This API enables you to operate [Escape](https://escape.tech/) programmatically.


    All requests must be authenticated with a valid API key, provided in the `X-ESCAPE-API-KEY` header.

    For example: `X-ESCAPE-API-KEY: YOUR_API_KEY`.


    You can find your API key in the [Escape dashboard](https://app.escape.tech/user/).'
servers:
- url: https://public.escape.tech/v3
security:
- apiKey: []
tags:
- name: Workflows
  description: 'Workflows Management


    The public API provides CRUDs operations to manage workflows.'
paths:
  /workflows:
    get:
      tags:
      - Workflows
      summary: List workflows.
      operationId: listWorkflows
      description: List and search workflows of the organization.
      parameters:
      - schema:
          type: string
          description: The cursor to start the pagination from. Returned by the previous page response. If not provided, the first page will be returned.
          example: R1BDOlM6NTEwMzk4NTYtNGIyOS00NTlkLTg0ZDYtMWJhYjM0NWMzZjU5
        required: false
        description: The cursor to start the pagination from. Returned by the previous page response. If not provided, the first page will be returned.
        name: cursor
        in: query
      - schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 50
          description: The number of items to return per page
          example: 50
        required: false
        description: The number of items to return per page
        name: size
        in: query
      - schema:
          type: string
          enum:
          - CREATED_AT
          - NAME
          description: The type to sort by
        required: false
        description: The type to sort by
        name: sortType
        in: query
      - schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
          description: The direction to sort by
        required: false
        description: The direction to sort by
        name: sortDirection
        in: query
      - schema:
          type: array
          items:
            type: string
            format: uuid
          description: Filter by workflow IDs
        required: false
        description: Filter by workflow IDs
        name: workflowIds
        in: query
      - schema:
          type: array
          items:
            type: string
            format: uuid
          description: Filter by project IDs
        required: false
        description: Filter by project IDs
        name: projectIds
        in: query
      - schema:
          type: array
          items:
            type: string
            format: uuid
          description: Filter by integration IDs
        required: false
        description: Filter by integration IDs
        name: integrationIds
        in: query
      - schema:
          type: array
          items:
            type: string
            enum:
            - ASSET_FOUND
            - ASSET_UPDATED
            - INTEGRATION_FAILED
            - ISSUE_UPDATED
            - LOCATION_DOWN
            - MANUAL
            - NEW_ISSUE
            - SCAN_COMPLETED
            - SCAN_FAILED
            - SCAN_STARTED
          description: Filter by triggers
        required: false
        description: Filter by triggers
        name: triggers
        in: query
      - schema:
          type: string
          description: Search term to filter integrations by name or description
          example: my integration
        required: false
        description: Search term to filter integrations by name or description
        name: search
        in: query
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  nextCursor:
                    type:
                    - string
                    - 'null'
                  totalCount:
                    type: integer
                    default: 100
                    example: 20
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          default: 00000000-0000-0000-0000-000000000000
                          description: The workflow ID.
                        name:
                          type: string
                          default: Workflow Name
                          description: The name of the workflow.
                        trigger:
                          type: string
                          enum:
                          - ASSET_FOUND
                          - ASSET_UPDATED
                          - INTEGRATION_FAILED
                          - ISSUE_UPDATED
                          - LOCATION_DOWN
                          - MANUAL
                          - NEW_ISSUE
                          - SCAN_COMPLETED
                          - SCAN_FAILED
                          - SCAN_STARTED
                        throttleMs:
                          type:
                          - number
                          - 'null'
                          description: The throttle in milliseconds for the workflow.
                        filters:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                format: uuid
                              type:
                                type: string
                                enum:
                                - ASSETS
                                - EVENTS
                                - INTEGRATIONS
                                - ISSUES
                                - LOCATIONS
                                - PROFILES
                                - SCANS
                              filter: {}
                              view:
                                type:
                                - object
                                - 'null'
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  name:
                                    type: string
                                  target:
                                    type: string
                                    enum:
                                    - ASSETS
                                    - EVENTS
                                    - INTEGRATIONS
                                    - ISSUES
                                    - LOCATIONS
                                    - PROFILES
                                    - SCANS
                                  data: {}
                                required:
                                - id
                                - name
                                - target
                            required:
                            - id
                            - type
                            - view
                        actions:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                format: uuid
                              type:
                                type: string
                                enum:
                                - ACT
                                - EXPORT
                                - NOTIFY
                              parameters: {}
                              internalAction:
                                type:
                                - string
                                - 'null'
                                enum:
                                - UPDATE_ASSET
                                - UPDATE_ISSUE
                                - null
                              integration:
                                type:
                                - object
                                - 'null'
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  name:
                                    type: string
                                  kind:
                                    type: string
                                    enum:
                                    - AKAMAI
                                    - AWS
                                    - AZURE
                                    - BITBUCKET_REPO
                                    - CLOUDFLARE
                                    - CUSTOM
                                    - DISCORD_WEBHOOK
                                    - DNS
                                    - EMAIL
                                    - GCP
                                    - GITHUB_API_KEY
                                    - GITLAB_API_KEY
                                    - JIRA
                                    - KUBERNETES
                                    - POSTMAN_API_KEY
                                    - SLACK_WEBHOOK
                                    - TEAMS_WEBHOOK
                                    - WEBHOOK
                                    - WIZ
                                required:
                                - id
                                - name
                                - kind
                            required:
                            - id
                            - type
                            - internalAction
                            - integration
                      required:
                      - trigger
                      - throttleMs
                      - filters
                      - actions
                      title: WorkflowSummarized
                      description: Summarized information about a workflow
                required:
                - nextCursor
                - data
        '400':
          description: Pagination error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                    - Invalid cursor
                  details:
                    type: string
                required:
                - message
                - details
                title: PaginationError
                description: Returned when an invalid pagination cursor is supplied
    post:
      tags:
      - Workflows
      summary: Create workflows.
      operationId: createWorkflow
      description: Create a workflow.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                organizationId:
                  type: string
                  format: uuid
                  description: The organization ID to create the workflow for
                name:
                  type: string
                  description: The name of the workflow
                trigger:
                  type: string
                  enum:
                  - ASSET_FOUND
                  - ASSET_UPDATED
                  - INTEGRATION_FAILED
                  - ISSUE_UPDATED
                  - LOCATION_DOWN
                  - MANUAL
                  - NEW_ISSUE
                  - SCAN_COMPLETED
                  - SCAN_FAILED
                  - SCAN_STARTED
                throttleMs:
                  type:
                  - number
                  - 'null'
                  description: The throttle in milliseconds for the workflow.
                filters:
                  type: array
                  items:
                    anyOf:
                    - type: object
                      properties:
                        viewId:
                          type: string
                          format: uuid
                      required:
                      - viewId
                      title: Create workflow filter using view
                    - type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - ISSUES
                        filter:
                          type: object
                          properties:
                            severities:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                                enum:
                                - INFO
                                - LOW
                                - MEDIUM
                                - HIGH
                                - CRITICAL
                            risks:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                                enum:
                                - UNAUTHENTICATED
                                - SENSITIVE_DATA
                                - CRITICAL_FINDING
                                - PROD_ONLY_MODE
                                - EXPOSED
                                - OPEN_SCHEMA
                                - PRIVATE
                            projectIds:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                            applicationIds:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                              description: Deprecated, use profileIds instead
                            profileIds:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                            assetIds:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                            jiraTicket:
                              type:
                              - boolean
                              - 'null'
                            search:
                              type:
                              - string
                              - 'null'
                            categories:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                                enum:
                                - ACCESS_CONTROL
                                - CONFIGURATION
                                - INFORMATION_DISCLOSURE
                                - SENSITIVE_DATA
                                - INJECTION
                                - PROTOCOL
                                - REQUEST_FORGERY
                                - RESOURCE_LIMITATION
                                - SCHEMA
                                - CUSTOM
                            scannerKinds:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                                enum:
                                - FRONTEND_DAST
                                - BLST_REST
                                - BLST_GRAPHQL
                                - ASM_DNS
                                - ASM_IPV4
                                - ASM_IPV6
                                - ASM_IPV4_RANGE
                                - ASM_REST
                                - ASM_GRAPHQL
                                - ASM_WEBAPP
                                - ASM_GRPC
                                - ASM_WEBSOCKET
                                - ASM_MCP
                                - ASM_SOAP
                                - ASM_AWS_ACCOUNT
                                - AUTOMATED_PENTEST_WEBAPP
                                - AUTOMATED_PENTEST_REST
                                - AUTOMATED_PENTEST_GRAPHQL
                                - ASM_AKAMAI_ACCOUNT
                                - ASM_CLOUDFLARE_ACCOUNT
                                - ASM_GCP_PROJECT
                                - ASM_KUBERNETES_CLUSTER
                                - ASM_AZURE_TENANT
                                - ASM_WIZ_ACCOUNT
                                - ASM_POSTMAN_ORGANIZATION
                                - ASM_GITLAB_REPOSITORY
                                - ASM_GITHUB_REPOSITORY
                                - ASM_BITBUCKET_REPOSITORY
                                - ASM_GITLAB_GROUP
                                - ASM_GITHUB_ORGANIZATION
                                - ASM_BITBUCKET_ORGANIZATION
                                - ASM_GRAPHQL_SCHEMA
                                - ASM_OPENAPI
                                - ASM_POSTMAN_COLLECTION
                                - ASM_POSTMAN_ENVIRONMENT
                                - ASM_WP_JSON
                                - ASM_INSOMNIA
                                - ASM_BURPSUITE_EXPORT
                                - ASM_HAR_EXPORT
                                - ASM_CODE_PROJECT
                                - ASM_AWS_LAMBDA
                                - ASM_PACKAGE
                                - ASM_SOFTWARE
                            assetClasses:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                                enum:
                                - API_SERVICE
                                - FRONTEND
                                - HOST
                                - CLOUD_HOSTING
                                - CDN
                                - CSPM
                                - DEV_TOOLS
                                - NETWORK
                                - REPOSITORY
                                - SOURCE_CODE_MANAGEMENT
                                - SCHEMA
                                - CODE_PROJECT
                                - CLOUD_COMPONENT
                                - TECHNOLOGY
                            assetTypes:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                                enum:
                                - DNS
                                - IPV4
                                - IPV6
                                - IPV4_RANGE
                                - REST
                                - GRAPHQL
                                - WEBAPP
                                - GRPC
                                - MCP
                                - WEBSOCKET
                                - SOAP
                                - AWS_ACCOUNT
                                - AKAMAI_ACCOUNT
                                - CLOUDFLARE_ACCOUNT
                                - GCP_PROJECT
                                - KUBERNETES_CLUSTER
                                - AZURE_TENANT
                                - WIZ_ACCOUNT
                                - POSTMAN_ORGANIZATION
                                - GITLAB_REPOSITORY
                                - GITHUB_REPOSITORY
                                - BITBUCKET_REPOSITORY
                                - GITLAB_GROUP
                                - GITHUB_ORGANIZATION
                                - BITBUCKET_ORGANIZATION
                                - GRAPHQL_SCHEMA
                                - OPENAPI
                                - POSTMAN_COLLECTION
                                - POSTMAN_ENVIRONMENT
                                - WP_JSON
                                - INSOMNIA
                                - BURPSUITE_EXPORT
                                - HAR_EXPORT
                                - CODE_PROJECT
                                - AWS_LAMBDA
                                - PACKAGE
                                - SOFTWARE
                            tagIds:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                            noTags:
                              type:
                              - boolean
                              - 'null'
                            scanIds:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                            securityTestUids:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                            status:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                                enum:
                                - OPEN
                                - RESOLVED
                                - MANUAL_REVIEW
                                - IGNORED
                                - FALSE_POSITIVE
                            ids:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                            blacklistedIds:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                            fullNames:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                            blacklistedNames:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                            assetStatuses:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                                enum:
                                - DEPRECATED
                                - OUT_OF_SCOPE
                                - FALSE_POSITIVE
                                - MONITORED
                                - THIRD_PARTY
                            aiFalsePositive:
                              type:
                              - boolean
                              - 'null'
                            agentic:
                              type:
                              - boolean
                              - 'null'
                            targetIds:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                            domains:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                            ignoreInventory:
                              type:
                              - boolean
                              - 'null'
                            ignored:
                              type:
                              - boolean
                              - 'null'
                      required:
                      - type
                      - filter
                      title: Create workflow filter using custom filter on issues
                    - type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - PROFILES
                        filter:
                          type: object
                          properties:
                            ids:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                            search:
                              type:
                              - string
                              - 'null'
                            risks:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                                enum:
                                - UNAUTHENTICATED
                                - SENSITIVE_DATA
                                - CRITICAL_FINDING
                                - PROD_ONLY_MODE
                                - EXPOSED
                                - OPEN_SCHEMA
                                - PRIVATE
                            tagIds:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                            noTags:
                              type:
                              - boolean
                              - 'null'
                            projectIds:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                            noProjects:
                              type:
                              - boolean
                              - 'null'
                            assetIds:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                            assetSchemaIds:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                            issueIds:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                            kinds:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                                enum:
                                - FRONTEND_DAST
                                - BLST_REST
                                - BLST_GRAPHQL
                                - ASM_DNS
                                - ASM_IPV4
                                - ASM_IPV6
                                - ASM_IPV4_RANGE
                                - ASM_REST
                                - ASM_GRAPHQL
                                - ASM_WEBAPP
                                - ASM_GRPC
                                - ASM_WEBSOCKET
                                - ASM_MCP
                                - ASM_SOAP
                                - ASM_AWS_ACCOUNT
                                - AUTOMATED_PENTEST_WEBAPP
                                - AUTOMATED_PENTEST_REST
                                - AUTOMATED_PENTEST_GRAPHQL
                                - ASM_AKAMAI_ACCOUNT
                                - ASM_CLOUDFLARE_ACCOUNT
                                - ASM_GCP_PROJECT
                                - ASM_KUBERNETES_CLUSTER
                                - ASM_AZURE_TENANT
                                - ASM_WIZ_ACCOUNT
                                - ASM_POSTMAN_ORGANIZATION
                                - ASM_GITLAB_REPOSITORY
                                - ASM_GITHUB_REPOSITORY
                                - ASM_BITBUCKET_REPOSITORY
                                - ASM_GITLAB_GROUP
                                - ASM_GITHUB_ORGANIZATION
                                - ASM_BITBUCKET_ORGANIZATION
                                - ASM_GRAPHQL_SCHEMA
                                - ASM_OPENAPI
                                - ASM_POSTMAN_COLLECTION
                                - ASM_POSTMAN_ENVIRONMENT
                                - ASM_WP_JSON
                                - ASM_INSOMNIA
                                - ASM_BURPSUITE_EXPORT
                                - ASM_HAR_EXPORT
                                - ASM_CODE_PROJECT
                                - ASM_AWS_LAMBDA
                                - ASM_PACKAGE
                                - ASM_SOFTWARE
                            domains:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                            initiators:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                                enum:
                                - APPLICATION_CREATION
                                - CI
                                - MANUAL
                                - SCHEDULED
                                - INVENTORY
                                - UNKNOWN
                            lastScanStatuses:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                                enum:
                                - STARTING
                                - RUNNING
                                - CANCELED
                                - FINISHED
                                - FAILED
                            problemSeverities:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                                enum:
                                - INFO
                                - WARNING
                                - ERROR
                            problemCodes:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                                enum:
                                - PL_FAILURE
                                - AUTH_FAILURE
                                - CONFIGURATION_IMPROVEMENT
                                - SCHEMA_IMPROVEMENT
                                - HIGH_NUMBER_OF_ERROR_ENDPOINTS
                                - UNREACHABLE_ASSET
                                - TIMEOUT
                                - INTEGRATION_ERROR
                                - CAPTCHA_HIT
                                - BLOCKED_BY_WAF
                                - RATE_LIMIT_EXCEEDED
                                - NO_SCHEMA_FOUND
                                - NO_AUTHENTICATION_CONFIGURED
                            assetClasses:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                                enum:
                                - API_SERVICE
                                - FRONTEND
                                - HOST
                                - CLOUD_HOSTING
                                - CDN
                                - CSPM
                                - DEV_TOOLS
                                - NETWORK
                                - REPOSITORY
                                - SOURCE_CODE_MANAGEMENT
                                - SCHEMA
                                - CODE_PROJECT
                                - CLOUD_COMPONENT
                                - TECHNOLOGY
                            assetStatuses:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                                enum:
                                - DEPRECATED
                                - OUT_OF_SCOPE
                                - FALSE_POSITIVE
                                - MONITORED
                                - THIRD_PARTY
                            assetTypes:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                                enum:
                                - DNS
                                - IPV4
                                - IPV6
                                - IPV4_RANGE
                                - REST
                                - GRAPHQL
                                - WEBAPP
                                - GRPC
                                - MCP
                                - WEBSOCKET
                                - SOAP
                                - AWS_ACCOUNT
                                - AKAMAI_ACCOUNT
                                - CLOUDFLARE_ACCOUNT
                                - GCP_PROJECT
                                - KUBERNETES_CLUSTER
                                - AZURE_TENANT
                                - WIZ_ACCOUNT
                                - POSTMAN_ORGANIZATION
                                - GITLAB_REPOSITORY
                                - GITHUB_REPOSITORY
                                - BITBUCKET_REPOSITORY
                                - GITLAB_GROUP
                                - GITHUB_ORGANIZATION
                                - BITBUCKET_ORGANIZATION
                                - GRAPHQL_SCHEMA
                                - OPENAPI
                                - POSTMAN_COLLECTION
                                - POSTMAN_ENVIRONMENT
                                - WP_JSON
                                - INSOMNIA
                                - BURPSUITE_EXPORT
                                - HAR_EXPORT
                                - CODE_PROJECT
                                - AWS_LAMBDA
                                - PACKAGE
                                - SOFTWARE
                            scanIds:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                      required:
                      - type
                      - filter
                      title: Create workflow filter using custom filter on profiles
                    - type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - ASSETS
                        filter:
                          type: object
                          properties:
                            search:
                              type:
                              - string
                              - 'null'
                            risks:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                                enum:
                                - UNAUTHENTICATED
                                - SENSITIVE_DATA
                                - CRITICAL_FINDING
                                - PROD_ONLY_MODE
                                - EXPOSED
                                - OPEN_SCHEMA
                                - PRIVATE
                            tagIds:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                            exactTagIds:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                            noTags:
                              type:
                              - boolean
                              - 'null'
                            integrationIds:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                            types:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                                enum:
                                - DNS
                                - IPV4
                                - IPV6
                                - IPV4_RANGE
                                - REST
                                - GRAPHQL
                                - WEBAPP
                                - GRPC
                                - MCP
                                - WEBSOCKET
                                - SOAP
                                - AWS_ACCOUNT
                                - AKAMAI_ACCOUNT
                                - CLOUDFLARE_ACCOUNT
                                - GCP_PROJECT
                                - KUBERNETES_CLUSTER
                                - AZURE_TENANT
                                - WIZ_ACCOUNT
                                - POSTMAN_ORGANIZATION
                                - GITLAB_REPOSITORY
                                - GITHUB_REPOSITORY
                                - BITBUCKET_REPOSITORY
                                - GITLAB_GROUP
                                - GITHUB_ORGANIZATION
                                - BITBUCKET_ORGANIZATION
                                - GRAPHQL_SCHEMA
                                - OPENAPI
                                - POSTMAN_COLLECTION
                                - POSTMAN_ENVIRONMENT
                                - WP_JSON
                                - INSOMNIA
                                - BURPSUITE_EXPORT
                                - HAR_EXPORT
                                - CODE_PROJECT
                                - AWS_LAMBDA
                                - PACKAGE
                                - SOFTWARE
                            excludeTypes:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                                enum:
                                - DNS
                                - IPV4
                                - IPV6
                                - IPV4_RANGE
                                - REST
                                - GRAPHQL
                                - WEBAPP
                                - GRPC
                                - MCP
                                - WEBSOCKET
                                - SOAP
                                - AWS_ACCOUNT
                                - AKAMAI_ACCOUNT
                                - CLOUDFLARE_ACCOUNT
                                - GCP_PROJECT
                                - KUBERNETES_CLUSTER
                                - AZURE_TENANT
                                - WIZ_ACCOUNT
                                - POSTMAN_ORGANIZATION
                                - GITLAB_REPOSITORY
                                - GITHUB_REPOSITORY
                                - BITBUCKET_REPOSITORY
                                - GITLAB_GROUP
                                - GITHUB_ORGANIZATION
                                - BITBUCKET_ORGANIZATION
                                - GRAPHQL_SCHEMA
                                - OPENAPI
                                - POSTMAN_COLLECTION
                                - POSTMAN_ENVIRONMENT
                                - WP_JSON
                                - INSOMNIA
                                - BURPSUITE_EXPORT
                                - HAR_EXPORT
                                - CODE_PROJECT
                                - AWS_LAMBDA
                                - PACKAGE
                                - SOFTWARE
                            classes:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                                enum:
                                - API_SERVICE
                                - FRONTEND
                                - HOST
                                - CLOUD_HOSTING
                                - CDN
                                - CSPM
                                - DEV_TOOLS
                                - NETWORK
                                - REPOSITORY
                                - SOURCE_CODE_MANAGEMENT
                                - SCHEMA
                                - CODE_PROJECT
                                - CLOUD_COMPONENT
                                - TECHNOLOGY
                            excludeClasses:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                                enum:
                                - API_SERVICE
                                - FRONTEND
                                - HOST
                                - CLOUD_HOSTING
                                - CDN
                                - CSPM
                                - DEV_TOOLS
                                - NETWORK
                                - REPOSITORY
                                - SOURCE_CODE_MANAGEMENT
                                - SCHEMA
                                - CODE_PROJECT
                                - CLOUD_COMPONENT
                                - TECHNOLOGY
                            projectIds:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                            exactProjectIds:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                            noProjects:
                              type:
                              - boolean
                              - 'null'
                            applicationIds:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                            foundByProfileIds:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                            foundByIntegrationIds:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                            scanIds:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                            scannerKinds:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                                enum:
                                - FRONTEND_DAST
                                - BLST_REST
                                - BLST_GRAPHQL
                                - ASM_DNS
                                - ASM_IPV4
                                - ASM_IPV6
                                - ASM_IPV4_RANGE
                                - ASM_REST
                                - ASM_GRAPHQL
                                - ASM_WEBAPP
                                - ASM_GRPC
                                - ASM_WEBSOCKET
                                - ASM_MCP
                                - ASM_SOAP
                                - ASM_AWS_ACCOUNT
                                - AUTOMATED_PENTEST_WEBAPP
                                - AUTOMATED_PENTEST_REST
                                - AUTOMATED_PENTEST_GRAPHQL
                                - ASM_AKAMAI_ACCOUNT
                                - ASM_CLOUDFLARE_ACCOUNT
                                - ASM_GCP_PROJECT
                                - ASM_KUBERNETES_CLUSTER
                                - ASM_AZURE_TENANT
                                - ASM_WIZ_ACCOUNT
                                - ASM_POSTMAN_ORGANIZATION
                                - ASM_GITLAB_REPOSITORY
                                - ASM_GITHUB_REPOSITORY
                                - ASM_BITBUCKET_REPOSITORY
                                - ASM_GITLAB_GROUP
                                - ASM_GITHUB_ORGANIZATION
                                - ASM_BITBUCKET_ORGANIZATION
                                - ASM_GRAPHQL_SCHEMA
                                - ASM_OPENAPI
                                - ASM_POSTMAN_COLLECTION
                                - ASM_POSTMAN_ENVIRONMENT
                                - ASM_WP_JSON
                                - ASM_INSOMNIA
                                - ASM_BURPSUITE_EXPORT
                                - ASM_HAR_EXPORT
                                - ASM_CODE_PROJECT
                                - ASM_AWS_LAMBDA
                                - ASM_PACKAGE
                                - ASM_SOFTWARE
                            workflowIds:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                            domains:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                            environments:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                                enum:
                                - UNKNOWN
                                - DEVELOPMENT
                                - STAGING
                                - PRODUCTION
                            cloudProviders:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                                enum:
                                - AKAMAI
                                - ALIBABA
                                - AWS
                                - AZURE
                                - CLOUDFLARE
                                - DIGITALOCEAN
                                - FASTLY
                                - GCP
                                - GRAVITEE
                                - HEROKU
                                - IBM
                                - LINODE
                                - ORACLE
                                - OVH
                                - SCALEWAY
                                - TENCENT
                                - UCLOUD
                                - VERCEL
                                - UNKNOWN
                            wafProviders:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                                enum:
                                - UNKNOWN
                                - AESECURE
                                - AIREECDN
                                - AIRLOCK
                                - ALERT_LOGIC
                                - ALIYUNDUN
                                - ANQUANBAO
                                - ANYU
                                - APPROACH
                                - ARMOR_DEFENSE
                                - ARVANCLOUD
                                - ASPA_FIREWALL
                                - ASP_NET_GENERIC
                                - ASTRA
                                - AWS_ELASTIC_LOAD_BALANCER
                                - AZIONCDN
                                - YUNJIASU
                                - BARIKODE
                                - BARRACUDA
                                - BEKCHY
                                - BELUGA_CDN
                                - BINARYSEC
                                - BITNINJA
                                - BLOCKDOS
                                - BLUEDON
                                - BULLETPROOF_SECURITY_PRO
                                - CACHEFLY_CDN
                                - CACHEWALL
                                - CDNNS_APPLICATION_GATEWAY
                                - WP_CERBER_SECURITY
                                - CHINACACHE_LOAD_BALANCER
                                - CHUANG_YU_SHIELD
                                - ACE_XML_GATEWAY
                                - CLOUDBRIC
                                - CLOUDFLARE
                                - CLOUDFLOOR
                                - CLOUDFRONT
                                - COMODO_CWATCH
                                - CRAWLPROTECT
                                - DENYALL
                                - DISTIL
                                - DOSARREST
                                - DOTDEFENDER
                                - DYNAMICWEB_INJECTION_CHECK
                                - EDGECAST
                                - EISOO_CLOUD_FIREWALL
                                - EXPRESSION_ENGINE
                                - F5_NETWORKS
                                - FIREPASS
                                - TRAFFICSHIELD
                                - FASTLY
                                - FORTIWEB
                                - AZURE_FRONT_DOOR
                                - GODADDY_WEBSITE_PROTECTION
                                - GOOGLE_CLOUD_APP_ARMOR
                                - GREYWIZARD
                                - HUAWEI_CLOUD_FIREWALL
                                - HYPERGUARD
                                - DATAPOWER
                                - IMUNIFY360
                                - INCAPSULA
                                - INDUSGUARD
                                - INSTART_DX
                                - ISA_SERVER
                                - JANUSEC_APPLICATION_GATEWAY
                                - JIASULE
                                - KEYCDN
                                - KS_WAF
                                - KONA_SITEDEFENDER
                                - LIMELIGHT_CDN
                                - LITESPEED
                                - MALCARE
                                - MAXCDN
                                - MISSION_CONTROL_SHIELD
                                - MODSECURITY
                                - DATADOME
                                - NAXSI
                                - NEMESIDA
                                - NETCONTINUUM
                                - NETSCALER_APPFIREWALL
                                - NEVISPROXY
                                - NEWDEFEND
                                - NEXUSGUARD_FIREWALL
                                - NINJAFIREWALL
                                - NSFOCUS
                                - NULLDDOS_PROTECTION
                                - ONMESSAGE_SHIELD
                                - OPEN_RESTY_LUA_NGINX
                                - ORACLE_CLOUD
                                - PALO_ALTO_NEXT_GEN_FIREWALL
                                - PENTAWAF
                                - PERIMETERX
                                - PKSECURITY_IDS
                                - POWERCDN
                                - PROFENSE
                                - PT_APPLICATION_FIREWALL
                                - PUHUI
                                - QCLOUD
                                - QINIU
                                - APPWALL
                                - REBLAZE
                                - RSFIREWALL
                                - ASP_NET_WAF
                                - SABRE_FIREWALL
                                - SAFE3_WEB_FIREWALL
                                - SAFEDOG
                                - SAFELINE
                                - SECKING
                                - SECUPRESS_WP_SECURITY
                                - SECURE_ENTRY
                                - EEYE_SECUREIIS
                                - SECURESPHERE
                                - SENGINX
                                - SERVERDEFENDER_VP
                                - SHADOW_DAEMON
                                - SHIELD_SECURITY
                                - SITEGROUND
                                - SITEGUARD
                                - SITELOCK
                                - SONICWALL
                                - UTM_WEB_PROTECTION
                                - SQUARESPACE
                                - SQUIDPROXY_IDS
                                - STACKPATH
                                - SUCURI_CLOUDPROXY
                                - TENCENT_CLOUD_FIREWALL
                                - TEROS
                                - TRANSIP_WEB_FIREWALL
                                - UEWAF
                                - URLMASTER_SECURITYCHECK
                                - URLSCAN
                                - VARNISH
                                - VIETTEL
                                - VIRUSDIE
                                - WALLARM
                                - WATCHGUARD
                                - WEBARX
                                - WEBKNIGHT
                                - WEBLAND
                                - RAYWAF
                                - WEBSEAL
                                - WEBTOTEM
                                - WEST263_CDN
                                - WORDFENCE
                                - WPMUDEV_WAF
                                - WTS_WAF
                                - XLABS_SECURITY_WAF
                                - XUANWUDUN
                                - YUNDUN
                                - YUNSUO
                                - YXLINK
                                - ZENEDGE
                                - ZSCALER
                            captchaProviders:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                                enum:
                                - RECAPTCHA
                                - HCAPTCHA
                                - CLOUDFLARE_TURNSTILE
                                - GEETEST
                                - FRIENDLY_CAPTCHA
                                - AWS_WAF_CAPTCHA
                                - MTCAPTCHA
                                - YANDEX_SMARTCAPTCHA
                                - ARCAPTCHA
                                - ALTCHA
                                - FUNCAPTCHA
                                - SLIDER_CAPTCHA
                                - PICATCHA
                                - SNAPHOST
                                - STARTEST
                                - ADCAPTCHA
                                - V4GUARD_CHECKPOINT
                                - COINHIVE_CAPTCHA
                                - RINGCAPTCHA
                                - REALLY_SIMPLE_CAPTCHA
                                - OTHER
                            statuses:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                                enum:
                                - DEPRECATED
                                - OUT_OF_SCOPE
                                - FALSE_POSITIVE
                                - MONITORED
                                - THIRD_PARTY
                            severities:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                                enum:
                                - INFO
                                - LOW
                                - MEDIUM
                                - HIGH
                                - CRITICAL
                            parentLinks:
                              type:
                              - array
                              - 'null'
                              items:
                                type: object
                                properties:
                                  parentId:
                                    type:
                                    - string
                                    - 'null'
                                  verb:
                                    type: string
                                    enum:
                                    - FINDS
                                    - DEFINES
                                    - DEFINES_FAVORITE
                                    - IS_SOURCE
                                    - CONTAINS
                                    - USES
                                required:
                                - verb
                            childrenLinks:
                              type:
                              - array
                              - 'null'
                              items:
                                type: object
                                properties:
                                  childId:
                                    type:
                                    - string
                                    - 'null'
                                  verb:
                                    type: string
                                    enum:
                                    - FINDS
                                    - DEFINES
                                    - DEFINES_FAVORITE
                                    - IS_SOURCE
                                    - CONTAINS
                                    - USES
                                required:
                                - verb
                            schemaIds:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                            assetIds:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                            blacklistAssetIds:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                            manuallyCreated:
                              type:
                              - boolean
                              - 'null'
                            sources:
                              type:
                              - array
                              - 'null'
                              items:
                                type: object
                                properties:
                                  manuallyCreated:
                                    type:
                                    - boolean
                                    - 'null'
                                  integrationId:
                                    type:
                                    - string
                                    - 'null'
                                  assetId:
                                    type:
                                    - string
                                    - 'null'
                            visibility:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                                enum:
                                - PRIVATE
                                - INTERNAL
                                - PUBLIC
                            ports:
                              type:
                              - array
                              - 'null'
                              items:
                                type: number
                            frameworks:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                                enum:
                                - UNKNOWN
                                - REST_DJANGO
                                - REST_FLASK
                                - REST_FASTAPI
                                - REST_EXPRESS_JS
                                - REST_SPRING_BOOT
                                - REST_RUBY_ON_RAILS
                                - REST_ASP_NET
                                - REST_LARAVEL
                                - REST_NESTJS
                                - REST_SCALA_PLAY
                                - REST_CLOJURE
                                - REST_SYMFONY
                                - REST_GIN
                                - REST_HONO
                                - REST_NEXTJS
                                - REST_NUXTJS
                                - GRAPHQL_APOLLO
                                - GRAPHQL_GRAPHQLYOGA
                                - FRONTEND_REACT
                                - FRONTEND_VUE
                                - FRONTEND_ANGULAR
                                - FRONTEND_SVELTE
                                - FRONTEND_JQUERY
                                - FRONTEND_JAVASCRIPT
                                - FRONTEND_DJANGO
                            prioritizeFavorites:
                              type:
                              - boolean
                              - 'null'
                            languages:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                            ownerEmails:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                            uris:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                            technologyKeys:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                            ownTechnologyKeys:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                      required:
                      - type
                      - filter
                      title: Create workflow filter using custom filter on assets
                actions:
                  type: array
                  items:
                    anyOf:
                    - type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - EXPORT
                        parameters:
                          type: object
                          properties:
                            url:
                              type: string
                            format:
                              type: string
                              enum:
                              - json
                              - xml
                          required:
                          - url
                          - format
                        integrationKind:
                          type: string
                          enum:
                          - WEBHOOK
                      required:
                      - type
                      - parameters
                      - integrationKind
                      title: Create Export workflow action using Webhook
                    - type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - EXPORT
                        parameters:
                          type: object
                          properties:
                            projectId:
                              type: string
                            issueType:
                              type: string
                            propertiesMapping:
                              type: array
                              items:
                                oneOf:
                                - type: object
                                  properties:
                                    jiraPropertyId:
                                      type: string
                                    map:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          escapeValue:
                                            type:
                                            - string
                                            - 'null'
                                            description: The value of the Escape field, stored as a json value to be parsed into a specific format depending on the Escape field type.
                                          jiraValue:
                                            anyOf:
                                            - type: string
                                            - type: array
                                              items:
                                                type: string
                                            - type: 'null'
                                            description: The value of the Jira field, stored "as is" to be sent to the Jira API to create the issue, eventually in an array if the Jira field is an array
                                        required:
                                        - escapeValue
                                        - jiraValue
                                    field:
                                      type: string
                                      enum:
                                      - issue.severity
                                  required:
                                  - jiraPropertyId
                                  - map
                                  - field
                                - type: object
                                  properties:
                                    jiraPropertyId:
                                      type: string
                                    map:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          escapeValue:
                                            type:
                                            - string
                                            - 'null'
                                            description: The value of the Escape field, stored as a json value to be parsed into a specific format depending on the Escape field type.
                                          jiraValue:
                                            anyOf:
                                            - type: string
                                            - type: array
                                              items:
                                                type: string
                                            - type: 'null'
                                            description: The value of the Jira field, stored "as is" to be sent to the Jira API to create the issue, eventually in an array if the Jira field is an array
                                        required:
                                        - escapeValue
                                        - jiraValue
                                    field:
                                      type: string
                                      enum:
                                      - issue.createdAt
                                  required:
                                  - jiraPropertyId
                                  - map
                                  - field
                                - type: object
                                  properties:
                                    jiraPropertyId:
                                      type: string
                                    map:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          escapeValue:
                                            type:
                                            - string
                                            - 'null'
                                            description: The value of the Escape field, stored as a json value to be parsed into a specific format depending on the Escape field type.
                                          jiraValue:
                                            anyOf:
                                            - type: string
                                            - type: array
                                              items:
                                                type: string
                                            - type: 'null'
                                            description: The value of the Jira field, stored "as is" to be sent to the Jira API to create the issue, eventually in an array if the Jira field is an array
                                        required:
                                        - escapeValue
                                        - jiraValue
                                    field:
                                      type: string
                                      enum:
                                      - issue.name
                                  required:
                                  - jiraPropertyId
                                  - map
                                  - field
                                - type: object
                                  properties:
                                    jiraPropertyId:
                                      type: string
                                    map:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          escapeValue:
                                            type:
                                            - string
                                            - 'null'
                                            description: The value of the Escape field, stored as a json value to be parsed into a specific format depending on the Escape field type.
                                          jiraValue:
                                            anyOf:
                                            - type: string
                                            - type: array
                                              items:
                                                type: string
                                            - type: 'null'
                                            description: The value of the Jira field, stored "as is" to be sent to the Jira API to create the issue, eventually in an array if the Jira field is an array
                                        required:
                                        - escapeValue
                                        - jiraValue
                                    field:
                                      type: string
                                      enum:
                                      - issue.category
                                  required:
                                  - jiraPropertyId
                                  - map
                                  - field
                                - type: object
                                  properties:
                                    jiraPropertyId:
                                      type: string
                                    map:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          escapeValue:
                                            type:
                                            - string
                                            - 'null'
                                            description: The value of the Escape field, stored as a json value to be parsed into a specific format depending on the Escape field type.
                                          jiraValue:
                                            anyOf:
                                            - type: string
                                            - type: array
                                              items:
                                                type: string
                                            - type: 'null'
                                            description: The value of the Jira field, stored "as is" to be sent to the Jira API to create the issue, eventually in an array if the Jira field is an array
                                        required:
                                        - escapeValue
                                        - jiraValue
                                    field:
                                      type: string
                                      enum:
                                      - issue.context
                                  required:
                                  - jiraPropertyId
                                  - map
                                  - field
                                - type: object
                                  properties:
                                    jiraPropertyId:
                                      type: string
                                    map:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          escapeValue:
                                            type:
                                            - string
                                            - 'null'
                                            description: The value of the Escape field, stored as a json value to be parsed into a specific format depending on the Escape field type.
                                          jiraValue:
                                            anyOf:
                                            - type: string
                                            - type: array
                                              items:
                                                type: string
                                            - type: 'null'
                                            description: The value of the Jira field, stored "as is" to be sent to the Jira API to create the issue, eventually in an array if the Jira field is an array
                                        required:
                                        - escapeValue
                                        - jiraValue
                                    field:
                                      type: string
                                      enum:
                                      - issue.status
                                  required:
                                  - jiraPropertyId
                                  - map
                                  - field
                                - type: object
                                  properties:
                                    jiraPropertyId:
                                      type: string
                                    map:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          escapeValue:
                                            type:
                                            - string
                                            - 'null'
                                            description: The value of the Escape field, stored as a json value to be parsed into a specific format depending on the Escape field type.
                                          jiraValue:
                                            anyOf:
                                            - type: string
                                            - type: array
                                              items:
                                                type: string
                                            - type: 'null'
                                            description: The value of the Jira field, stored "as is" to be sent to the Jira API to create the issue, eventually in an array if the Jira field is an array
                                        required:
                                        - escapeValue
                                        - jiraValue
                                    field:
                                      type: string
                                      enum:
                                      - issue.remediation
                                  required:
                                  - jiraPropertyId
                                  - map
                                  - field
                                - type: object
                                  properties:
                                    jiraPropertyId:
                                      type: string
                                    map:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          escapeValue:
                                            type:
                                            - string
                                            - 'null'
                                            description: The value of the Escape field, stored as a json value to be parsed into a specific format depending on the Escape field type.
                                          jiraValue:
                                            anyOf:
                                            - type: string
                                            - type: array
                                              items:
                                                type: string
                                            - type: 'null'
                                            description: The value of the Jira field, stored "as is" to be sent to the Jira API to create the issue, eventually in an array if the Jira field is an array
                                        required:
                                        - escapeValue
                                        - jiraValue
                                    field:
                                      type: string
                                      enum:
                                      - issue.targets
                                  required:
                                  - jiraPropertyId
                                  - map
                                  - field
                                - type: object
                                  properties:
                                    jiraPropertyId:
                                      type: string
                                    map:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          escapeValue:
                                            type:
                                            - string
                                            - 'null'
                                            description: The value of the Escape field, stored as a json value to be parsed into a specific format depending on the Escape field type.
                                          jiraValue:
                                            anyOf:
                                            - type: string
                                            - type: array
                                              items:
                                                type: string
                                            - type: 'null'
                                            description: The value of the Jira field, stored "as is" to be sent to the Jira API to create the issue, eventually in an array if the Jira field is an array
                                        required:
                                        - escapeValue
                                        - jiraValue
                                    field:
                                      type: string
                                      enum:
                                      - issue.linkInAllIssues
                                  required:
                                  - jiraPropertyId
                                  - map
                                  - field
                                - type: object
                                  properties:
                                    jiraPropertyId:
                                      type: string
                                    map:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          escapeValue:
                                            type:
                                            - string
                                            - 'null'
                                            description: The value of the Escape field, stored as a json value to be parsed into a specific format depending on the Escape field type.
                                          jiraValue:
                                            anyOf:
                                            - type: string
                                            - type: array
                                              items:
                                                type: string
                                            - type: 'null'
                                            description: The value of the Jira field, stored "as is" to be sent to the Jira API to create the issue, eventually in an array if the Jira field is an array
                                        required:
                                        - escapeValue
                                        - jiraValue
                                    field:
                                      type: string
                                      enum:
                                      - issue.linkInAsset
                                  required:
                                  - jiraPropertyId
                                  - map
                                  - field
                                - type: object
                                  properties:
                                    jiraPropertyId:
                                      type: string
                                    map:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          escapeValue:
                                            type:
                                            - string
                                            - 'null'
                                            description: The value of the Escape field, stored as a json value to be parsed into a specific format depending on the Escape field type.
                                          jiraValue:
                                            anyOf:
                                            - type: string
                                            - type: array
                                              items:
                                                type: string
                                            - type: 'null'
                                            description: The value of the Jira field, stored "as is" to be sent to the Jira API to create the issue, eventually in an array if the Jira field is an array
                                        required:
                                        - escapeValue
                                        - jiraValue
                                    field:
                                      type: string
                                      enum:
                                      - issue.linkInScan
                                  required:
                                  - jiraPropertyId
                                  - map
                                  - field
                                - type: object
                                  properties:
                                    jiraPropertyId:
                                      type: string
                                    map:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          escapeValue:
                                            type:
                                            - string
                                            - 'null'
                                            description: The value of the Escape field, stored as a json value to be parsed into a specific format depending on the Escape field type.
                                          jiraValue:
                                            anyOf:
                                            - type: string
                                            - type: array
                                              items:
                                                type: string
                                            - type: 'null'
                                            description: The value of the Jira field, stored "as is" to be sent to the Jira API to create the issue, eventually in an array if the Jira field is an array
                                        required:
                                        - escapeValue
                                        - jiraValue
                                    field:
                                      type: string
                                      enum:
                                      - issue.linkInProfile
                                  required:
                                  - jiraPropertyId
                                  - map
                                  - field
                                - type: object
                                  properties:
                                    jiraPropertyId:
                                      type: string
                                    map:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          escapeValue:
                                            type:
                                            - string
                                            - 'null'
                                            description: The value of the Escape field, stored as a json value to be parsed into a specific format depending on the Escape field type.
                                          jiraValue:
                                            anyOf:
                                            - type: string
                                            - type: array
                                              items:
                                                type: string
                                            - type: 'null'
                                            description: The value of the Jira field, stored "as is" to be sent to the Jira API to create the issue, eventually in an array if the Jira field is an array
                                        required:
                                        - escapeValue
                                        - jiraValue
                                    field:
                                      type: string
                                      enum:
                                      - profile.name
                                  required:
                                  - jiraPropertyId
                                  - map
                                  - field
                                - type: object
                                  properties:
                                    jiraPropertyId:
                                      type: string
                                    map:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          escapeValue:
                                            type:
                                            - string
                                            - 'null'
                                            description: The value of the Escape field, stored as a json value to be parsed into a specific format depending on the Escape field type.
                                          jiraValue:
                                            anyOf:
                                            - type: string
                                            - type: array
                                              items:
                                                type: string
                                            - type: 'null'
                                            description: The value of the Jira field, stored "as is" to be sent to the Jira API to create the issue, eventually in an array if the Jira field is an array
                                        required:
                                        - escapeValue
                                        - jiraValue
                                    field:
                                      type: string
                                      enum:
                                      - profile.scannerKind
                                  required:
                                  - jiraPropertyId
                                  - map
                                  - field
                                - type: object
                                  properties:
                                    jiraPropertyId:
                                      type: string
                                    map:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          escapeValue:
                                            type:
                                            - string
                                            - 'null'
                                            description: The value of the Escape field, stored as a json value to be parsed into a specific format depending on the Escape field type.
                                          jiraValue:
                                            anyOf:
                                            - type: string
                                            - type: array
                                              items:
                                                type: string
                                            - type: 'null'
                                            description: The value of the Jira field, stored "as is" to be sent to the Jira API to create the issue, eventually in an array if the Jira field is an array
                                        required:
                                        - escapeValue
                                        - jiraValue
                                    field:
                                      type: string
                                      enum:
                                      - asset.name
                                  required:
                                  - jiraPropertyId
                                  - map
                                  - field
                                - type: object
                                  properties:
                                    jiraPropertyId:
                                      type: string
                                    map:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          escapeValue:
                                            type:
                                            - string
                                            - 'null'
                                            description: The value of the Escape field, stored as a json value to be parsed into a specific format depending on the Escape field type.
                                          jiraValue:
                                            anyOf:
                                            - type: string
                                            - type: array
                                              items:
[...]
