openapi: 3.1.0
info:
  version: 3.0.0
  title: Escape Public Asm CustomRules API
  description: 'This API enables you to operate [Escape](https://escape.tech/) programmatically.


    All requests must be authenticated with a valid API key, provided in the `X-ESCAPE-API-KEY` header.

    For example: `X-ESCAPE-API-KEY: YOUR_API_KEY`.


    You can find your API key in the [Escape dashboard](https://app.escape.tech/user/).'
servers:
- url: https://public.escape.tech/v3
security:
- apiKey: []
tags:
- name: CustomRules
  description: 'Manage your custom rules.


    The public API provides basic CRUDs operations to manage custom rules.


    See [our documentation](https://docs.escape.tech/documentation/dast/custom-rules/) for more details.'
paths:
  /custom-rules:
    get:
      tags:
      - CustomRules
      summary: List custom rules
      operationId: listCustomRules
      description: List and search custom rules of the organization.
      parameters:
      - schema:
          type: string
          minLength: 1
          description: Filter by custom rule context
        required: false
        description: Filter by custom rule context
        name: context
        in: query
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                      description: The id of the rule
                    name:
                      type: string
                      description: The name of the rule
                    context:
                      type: string
                      description: The context of the rule
                    severity:
                      type: string
                      description: The severity of the rule
                    createdAt:
                      type: string
                      description: The creation date of the rule
                    updatedAt:
                      type: string
                      description: The last update date of the rule
                  required:
                  - id
                  - name
                  - context
                  - severity
                  - createdAt
                  - updatedAt
                  title: CustomRuleSummarized
                  description: Summarized information about a custom rule
        '400':
          description: Pagination error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                    - Invalid cursor
                  details:
                    type: string
                required:
                - message
                - details
                title: PaginationError
                description: Returned when an invalid pagination cursor is supplied
    post:
      tags:
      - CustomRules
      summary: Create a custom rule
      operationId: createCustomRule
      description: Create a custom rule for the organization.
      requestBody:
        description: Body of the request to create a custom rule
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: object
                  properties:
                    rule:
                      oneOf:
                      - type: object
                        properties:
                          alert:
                            type: object
                            properties:
                              severity:
                                type: string
                                enum:
                                - HIGH
                                - MEDIUM
                                - LOW
                                - INFO
                              name:
                                type: string
                              context:
                                type: string
                              category:
                                type: string
                                enum:
                                - ACCESS_CONTROL
                                - CONFIGURATION
                                - INFORMATION_DISCLOSURE
                                - INJECTION
                                - PROTOCOL
                                - REQUEST_FORGERY
                                - RESOURCE_LIMITATION
                                - SENSITIVE_DATA
                                - SCHEMA
                                - CUSTOM
                              description:
                                type: string
                              remediation:
                                type: string
                              compliance:
                                type: object
                                properties:
                                  owasp:
                                    type: string
                                    enum:
                                    - API1:2023
                                    - API2:2023
                                    - API3:2023
                                    - API4:2023
                                    - API5:2023
                                    - API6:2023
                                    - API7:2023
                                    - API8:2023
                                    - API9:2023
                                    - API10:2023
                                    - A05:2021
                                  pci-dss:
                                    type: string
                                    enum:
                                    - 1.2.3
                                    - '1.3'
                                    - 1.3.7
                                    - 2.2.2
                                    - 2.2.5
                                    - '3.4'
                                    - '3.5'
                                    - '4.1'
                                    - '6.1'
                                    - '6.2'
                                    - '6.5'
                                    - 6.5.1
                                    - 6.5.2
                                    - 6.5.3
                                    - 6.5.4
                                    - 6.5.5
                                    - 6.5.6
                                    - 6.5.7
                                    - 6.5.8
                                    - 6.5.9
                                    - 6.5.10
                                    - '7.1'
                                    - 7.1.2
                                    - '8.2'
                                    - 8.2.1
                                    - 10.2.4
                                  gdpr:
                                    type: string
                                    enum:
                                    - Article-5
                                    - Article-25
                                    - Article-32
                                    - Article-33
                                  soc2:
                                    type: string
                                    enum:
                                    - CC1
                                    - CC2
                                    - CC4
                                    - CC5
                                    - CC6
                                    - CC7
                                    - CC9
                                  psd2:
                                    type: string
                                    enum:
                                    - Article-5
                                    - Article-21
                                    - Article-32
                                    - Article-94
                                    - Article-95
                                    - Article-96
                                    - Article-97
                                    - Article-98
                                  iso27001:
                                    type: string
                                    enum:
                                    - A.9.1
                                    - A.9.4
                                    - A.10.1
                                    - A.12.1
                                    - A.12.2
                                    - A.12.3
                                    - A.12.6
                                    - A.12.7
                                    - A.13.1
                                    - A.14.1
                                    - A.14.2
                                    - A.17.1
                                    - A.18.1
                                  nist:
                                    type: string
                                    enum:
                                    - SP800-40
                                    - SP800-41
                                    - SP800-44
                                    - SP800-52
                                    - SP800-53
                                    - SP800-63B
                                    - SP800-81-2
                                    - SP800-92
                                    - SP800-95
                                    - SP800-123
                                    - SP800-161
                                    - SP800-190
                                    - SP800-207
                                  fedramp:
                                    type: string
                                    enum:
                                    - AC-2
                                    - AC-3
                                    - AC-4
                                    - AC-6
                                    - AC-7
                                    - AC-14
                                    - AC-17
                                    - AC-22
                                    - CM-2
                                    - CM-3
                                    - IA-5
                                    - SA-11
                                    - SC-5
                                    - SC-7
                                    - SC-8
                                    - SC-12
                                    - SC-13
                                    - SC-17
                                    - SC-18
                                    - SC-20
                                    - SC-28
                                    - SI-2
                                    - SI-3
                                    - SI-4
                                    - SI-7
                                    - SI-10
                                    - SI-11
                                  nis2:
                                    type: string
                                    enum:
                                    - Article-6
                                    - Article-21
                                    - Article-22
                                    - Article-23
                                    - Article-28
                                    - Article-29
                                    - Article-33
                                  hipaa:
                                    type: string
                                    enum:
                                    - Standard-1
                                    - Standard-2
                                    - Standard-3
                                    - Standard-4
                                    - Standard-5
                                  owasp_llm:
                                    type: string
                                    enum:
                                    - LLM01
                                    - LLM02
                                    - LLM03
                                    - LLM04
                                    - LLM05
                                    - LLM06
                                    - LLM07
                                    - LLM08
                                    - LLM09
                                    - LLM10
                                  iec62443:
                                    type: string
                                    enum:
                                    - CR 2.1
                                    - CR 3.1
                                    - CR 4.1
                                    - CR 4.3
                                    - CR 5.2
                                    - CR 7.1
                                    - CR 7.6
                                  cwe:
                                    type: string
                                    enum:
                                    - '16'
                                    - '20'
                                    - '22'
                                    - '78'
                                    - '79'
                                    - '89'
                                    - '93'
                                    - '94'
                                    - '116'
                                    - '119'
                                    - '200'
                                    - '209'
                                    - '215'
                                    - '264'
                                    - '284'
                                    - '285'
                                    - '287'
                                    - '295'
                                    - '306'
                                    - '307'
                                    - '311'
                                    - '319'
                                    - '326'
                                    - '330'
                                    - '331'
                                    - '346'
                                    - '347'
                                    - '352'
                                    - '353'
                                    - '354'
                                    - '400'
                                    - '444'
                                    - '453'
                                    - '489'
                                    - '502'
                                    - '522'
                                    - '523'
                                    - '524'
                                    - '548'
                                    - '551'
                                    - '573'
                                    - '601'
                                    - '611'
                                    - '614'
                                    - '676'
                                    - '704'
                                    - '710'
                                    - '730'
                                    - '732'
                                    - '758'
                                    - '770'
                                    - '829'
                                    - '862'
                                    - '863'
                                    - '915'
                                    - '918'
                                    - '942'
                                    - '943'
                                    - '1029'
                                    - '1195'
                                  cra:
                                    type: string
                                    enum:
                                    - Annex I-1
                                    - Article-11
                                  dora:
                                    type: string
                                    enum:
                                    - Article-6
                                    - Article-8
                                    - Article-9
                                    - Article-11
                                  owasp_asvs:
                                    type: string
                                    enum:
                                    - V2
                                    - V3
                                    - V4
                                    - V5
                                    - V6
                                    - V7
                                    - V8
                                    - V9
                                    - V11
                                    - V12
                                    - V13
                                    - V14
                                  wasc:
                                    type: string
                                    enum:
                                    - WASC-02
                                    - WASC-04
                                    - WASC-08
                                    - WASC-09
                                    - WASC-10
                                    - WASC-11
                                    - WASC-13
                                    - WASC-14
                                    - WASC-15
                                    - WASC-19
                                    - WASC-20
                                    - WASC-22
                                    - WASC-24
                                    - WASC-25
                                    - WASC-26
                                    - WASC-31
                                    - WASC-33
                                    - WASC-34
                                    - WASC-38
                                    - WASC-40
                                    - WASC-42
                                    - WASC-43
                                    - WASC-45
                                    - WASC-47
                                    - WASC-48
                                  mitre_attack:
                                    type: string
                                    enum:
                                    - T1531
                                    - T1595
                                    - T1557
                                    - T1110
                                    - T1580
                                    - T1059
                                    - T1659
                                    - T1555
                                    - T1486
                                    - T1530
                                    - T1602
                                    - T1213
                                    - T1565
                                    - T1140
                                    - T1499
                                    - T1190
                                    - T1203
                                    - T1211
                                    - T1068
                                    - T1083
                                    - T1606
                                    - T1592
                                    - T1589
                                    - T1590
                                    - T1525
                                    - T1556
                                    - T1542
                                    - T1496
                                    - T1207
                                    - T1505
                                    - T1553
                                    - T1195
                                    - T1082
                                    - T1221
                                    - T1199
                                    - T1552
                                    - T1550
                                    - T1078
                                    - T1102
                                    - T1220
                                  hitrust_csf:
                                    type: string
                                    enum:
                                    - 01.c
                                    - 01.f
                                    - 01.g
                            required:
                            - severity
                            - name
                            - context
                            - category
                          type:
                            type: string
                            enum:
                            - API
                          seed:
                            type: array
                            items:
                              oneOf:
                              - type: object
                                properties:
                                  protocol:
                                    type: string
                                    enum:
                                    - rest
                                  user:
                                    type: string
                                  path:
                                    type: string
                                  method:
                                    type: string
                                    enum:
                                    - CONNECT
                                    - DELETE
                                    - GET
                                    - HEAD
                                    - OPTIONS
                                    - PATCH
                                    - POST
                                    - PUT
                                    - TRACE
                                  headers:
                                    type: object
                                    additionalProperties:
                                      type: string
                                  body:
                                    type: string
                                  params:
                                    type: object
                                    additionalProperties:
                                      type: string
                                required:
                                - protocol
                              - type: object
                                properties:
                                  protocol:
                                    type: string
                                    enum:
                                    - http
                                  user:
                                    type: string
                                  raw:
                                    type: string
                                required:
                                - protocol
                                - raw
                              - type: object
                                properties:
                                  protocol:
                                    type: string
                                    enum:
                                    - curl
                                  user:
                                    type: string
                                  curl:
                                    type: string
                                required:
                                - protocol
                                - curl
                          transform:
                            type: object
                            properties:
                              trigger:
                                type: array
                                items:
                                  oneOf:
                                  - type: object
                                    properties:
                                      is:
                                        type:
                                        - string
                                        - 'null'
                                        enum:
                                        - GRAPHQL
                                        - REST
                                        - null
                                      is_not:
                                        type:
                                        - string
                                        - 'null'
                                        enum:
                                        - GRAPHQL
                                        - REST
                                        - null
                                      in:
                                        type:
                                        - array
                                        - 'null'
                                        items:
                                          type: string
                                          enum:
                                          - GRAPHQL
                                          - REST
                                      if:
                                        type: string
                                        enum:
                                        - scan.type
                                    required:
                                    - if
                                  - type: object
                                    properties:
                                      use_extraction:
                                        type:
                                        - boolean
                                        - 'null'
                                      is:
                                        type:
                                        - string
                                        - 'null'
                                      is_not:
                                        type:
                                        - string
                                        - 'null'
                                      in:
                                        type:
                                        - array
                                        - 'null'
                                        items:
                                          type: string
                                      contains:
                                        type:
                                        - string
                                        - 'null'
                                      regex:
                                        type:
                                        - string
                                        - 'null'
                                      if:
                                        type: string
                                        enum:
                                        - schema.path_ref
                                    required:
                                    - if
                                  - type: object
                                    properties:
                                      use_extraction:
                                        type:
                                        - boolean
                                        - 'null'
                                      is:
                                        type:
                                        - string
                                        - 'null'
                                      is_not:
                                        type:
                                        - string
                                        - 'null'
                                      in:
                                        type:
                                        - array
                                        - 'null'
                                        items:
                                          type: string
                                      contains:
                                        type:
                                        - string
                                        - 'null'
                                      regex:
                                        type:
                                        - string
                                        - 'null'
                                      if:
                                        type: string
                                        enum:
                                        - schema.url
                                    required:
                                    - if
                                  - type: object
                                    properties:
                                      is:
                                        type:
                                        - boolean
                                        - 'null'
                                      is_not:
                                        type:
                                        - boolean
                                        - 'null'
                                      if:
                                        type: string
                                        enum:
                                        - schema.need_authentication
                                    required:
                                    - if
                                  - type: object
                                    properties:
                                      is:
                                        type:
                                        - boolean
                                        - 'null'
                                      is_not:
                                        type:
                                        - boolean
                                        - 'null'
                                      if:
                                        type: string
                                        enum:
                                        - helpers.response.is_successful
                                    required:
                                    - if
                                  - type: object
                                    properties:
                                      is:
                                        type:
                                        - string
                                        - 'null'
                                        enum:
                                        - CREATE
                                        - READ
                                        - UPDATE
                                        - DELETE
                                        - null
                                      is_not:
                                        type:
                                        - string
                                        - 'null'
                                        enum:
                                        - CREATE
                                        - READ
                                        - UPDATE
                                        - DELETE
                                        - null
                                      in:
                                        type:
                                        - array
                                        - 'null'
                                        items:
                                          type: string
                                          enum:
                                          - CREATE
                                          - READ
                                          - UPDATE
                                          - DELETE
                                      if:
                                        type: string
                                        enum:
                                        - helpers.request.crud
                                    required:
                                    - if
                                  - type: object
                                    properties:
                                      is:
                                        type:
                                        - string
                                        - 'null'
                                        enum:
                                        - CONNECT
                                        - DELETE
                                        - GET
                                        - HEAD
                                        - OPTIONS
                                        - PATCH
                                        - POST
                                        - PUT
                                        - TRACE
                                        - null
                                      is_not:
                                        type:
                                        - string
                                        - 'null'
                                        enum:
                                        - CONNECT
                                        - DELETE
                                        - GET
                                        - HEAD
                                        - OPTIONS
                                        - PATCH
                                        - POST
                                        - PUT
                                        - TRACE
                                        - null
                                      in:
                                        type:
                                        - array
                                        - 'null'
                                        items:
                                          type: string
                                          enum:
                                          - CONNECT
                                          - DELETE
                                          - GET
                                          - HEAD
                                          - OPTIONS
                                          - PATCH
                                          - POST
                                          - PUT
                                          - TRACE
                                      if:
                                        type: string
                                        enum:
                                        - request.method
                                    required:
                                    - if
                                  - type: object
                                    properties:
                                      type:
                                        type:
                                        - object
                                        - 'null'
                                        properties:
                                          is:
                                            type:
                                            - string
                                            - 'null'
                                            enum:
                                            - adobe_client_secret
                                            - age_secret_key
                                            - alibaba_access_key_id
                                            - alibaba_secret_key
                                            - amount
                                            - application
                                            - area_code
                                            - asana_client_secret
                                            - atlassian_api_token
                                            - authentication
                                            - author
                                            - authorization_code
                                            - aws_access_token
                                            - aws_mws_id
                                            - bank
                                            - bank_account
                                            - bank_card
                                            - base64
                                            - bcrypt
                                            - beamer_api_token
                                            - bearer
                                            - bearer_uuid
                                            - bitbucket_client_secret
                                            - bitcoin
                                            - body_type
                                            - boolean
                                            - boolean_wannabe
                                            - building
                                            - card_type
                                            - category
                                            - city
                                            - clojars_api_token
                                            - command
                                            - commit_hash
                                            - confirmation_code
                                            - content_type
                                            - country
                                            - country_code
                                            - county
                                            - coupon_code
                                            - cuid
                                            - currency_code
                                            - cvv
                                            - dash
                                            - databricks_api_token
                                            - datadog_access_token
                                            - date
                                            - datetime
                                            - delivery_method
                                            - device_name
                                            - device_type
                                            - did
                                            - digitalocean_pat
                                            - directory
                                            - discount
                                            - document_type
                                            - doppler_api_token
                                            - driving_license
                                            - dropbox_api_token
                                            - dropbox_long_lived_api_token
                                            - dropbox_short_lived_api_token
                                            - duffel_api_token
                                            - duration
                                            - dynatrace_api_token
                                            - e_commerce_indicator
                                            - email
                                            - environment
                                            - ethereum
                                            - event_type
                                            - facebook
                                            - fee
                                            - file
                                            - float
                                            - form
                                            - french_phone
                                            - func
                                            - gender
                                            - github_app_token
                                            - github_fine_grained_pat
                                            - github_oauth
                                            - github_pat
                                            - github_refresh_token
                                            - gitlab_pat
                                            - gitlab_rrt
                                            - google_api_key
                                            - grafana_service_account_token
                                            - hash
                                            - hashicorp_tf_api_token
                                            - health_insurance_number
                                            - heroku_api_key
                                            - hex_color_code
                                            - hexadecimal
                                            - host
                                            - house_number
                                            - hsl
                                            - hsla
                                            - html_body
                                            - http_method
                                            - hubspot_api_key
                                            - huggingface_token
                                            - id
                                            - identity_number
                                            - injection
                                            - integer
                                            - intercom_api_key
                                            - ipc_patent
                                            - ipv4
                                            - ipv6
                                            - isbn
                                            - item
                                            - jfrog_api_key
                                            - join
                                            - json
                                            - jwt
                                            - language_iso_639_1
                                            - language_iso_639_2
                                            - latitude
                                            - launchdarkly_access_token
                                            - legal_name
                                            - limit
                                            - linear_api_key
                                            - linear_client_secret
                                            - linkedin_client_secret
                                            - llm_input
                                            - lob_api_key
                                            - locale
                                            - location
                                            - longitude
                                            - mac
                                            - mailchimp_api_key
                                            - mailgun_private_api_token
                                            - mailgun_signing_key
                                            - mask
                                            - md5
                                            - medical_record_number
                                            - merchant
                                            - messagebird_api_token
                                            - microsoft_teams_webhook
                                            - monero
                                            - mongo_db_object_id
                                            - month
                                            - navigation
                                            - netlify_access_token
                                            - new_relic_user_api_id
                                            - npm_access_token
                                            - offset
                                            - okta_access_token
                                            - openai_api_key
                                            - pagination
                                            - pagination_limit
                                            - pagination_wannabe
                                            - passport
                                            - password
                                            - permission
                                            - phone
                                            - pin_code
                                            - plan
                                            - planetscale_api_token
                                            - planetscale_password
                                            - policy
                                            - port
                                            - postman_api_token
                                            - prescription_number
                                            - price
                                            - private_key
                                            - protocol
                                            - pubnubpublishkey
                                            - pulumi_api_token
                                            - pypi_upload_token
                                            - reason_code
                                            - reference
                                            - region
                                            - return_type
                                            - rgb
                                            - rgba
                                            - role
                                            - rubygems_api_token
                                            - search
                                            - secret
                                            - sendgrid_api_token
                                            - sendinblue_api_token
                                            - sentry_access_token
                                            - serial_number
                                            - sha1
                                            - sha256
                                            - shipping_method
                                            - shippo_api_token
                                            - shopify_access_token
                                            - shopify_custom_access_token
                                            - shopify_private_app_access_token
                                            - shopify_shared_secret
                                            - sidekiq_secret
                                            - slack_bot_token
                                            - slack_legacy_workspace_token
                                            - slack_user_token
                                            - slack_webhook_url
                                            - slug
                                            - social_security_number
                                            - software_component
                                            - ssh_url
                                            - status
                                            - status_code
                                            - status_message
                                            - street_address
                                            - string
                                            - stripe_access_token
                                            - stripe_public_access_token
                                            - sumologic_access_token
                                            - time
                                            - timestamp
                                            - title
                                            - twitch_api_token
                                            - twitter_api_key
                                            - typeform_api_token
                                            - unsanitized_payload
                                            - upload
                                            - uri
                                            - url
                                            - us_bank_account_number
                                            - us_bank_routing_number
                                            - us_zip_code
                                            - user_agent
                                            - username
                                            - uuid
                                            - vault_service_token
                                            - vehicle_type
                                            - version
                                            - view
                                            - year
                                            - zendesk_secret_key
                                            - zip_code
                                            - null
                                          is_not:
                                            type:
                                            - string
                                            - 'null'
                                            enum:
                                            - adobe_client_secret
                                            - age_secret_key
                                            - alibaba_access_key_id
                                            - alibaba_secret_key
                                            - amount
                                            - application
                                            - area_code
                                            - asana_client_secret
                                            - atlassian_api_token
                                            - authentication
                                            - author
                                            - authorization_code
                                            - aws_access_token
                                            - aws_mws_id
                                            - bank
                                            - bank_account
                                            - bank_card
                                            - base64
                                            - bcrypt
                                            - beamer_api_token
                                            - bearer
                                            - bearer_uuid
                                            - bitbucket_client_secret
                                            - bitcoin
                                            - body_type
                                            - boolean
                                            - boolean_wannabe
                                            - building
                                            - card_type
                                            - category
                                            - city
                                            - clojars_api_token
                                            - command
                                            - commit_hash
                                            - confirmation_code
                                            - content_type
                                            - country
                                            - country_code
                                            - county
                                            - coupon_code
                                            - cuid
                                            - currency_code
                                            - cvv
                                            - dash
                                            - databricks_api_token
                                            - datadog_access_token
                                            - date
                                            - datetime
                                            - delivery_method
                                            - device_name
                                            - device_type
                                            - did
                                            - digitalocean_pat
                                            - directory
                                            - discount
                                            - document_type
                                            - doppler_api_token
                                            - driving_license
                                            - dropbox_api_token
                                            - dropbox_long_lived_api_token
                                            - dropbox_short_lived_api_token
                                            - duffel_api_token
                                            - duration
                                            - dynatrace_api_token
                                            - e_commerce_indicator
                                            - email
                                            - environment
                                            - ethereum
                                            - event_type
                                            - facebook
                                            - fee
                                            - file
                                            - float
                                            - form
                                            - french_phone
                                            - func
                                            - gender
                                            - github_app_token
                                            - github_fine_grained_pat
                                            - github_oauth
                                            - github_pat
                                            - github_refresh_token
                                            - gitlab_pat
                                            - gitlab_rrt
                                            - google_api_key
                                            - grafana_service_account_token
                                            - hash
                                            - hashicorp_tf_api_token
                                            - health_insurance_number
                                            - heroku_api_key
                                            - hex_color_code
                                            - hexadecimal
                                            - host
                                            - house_number
                                            - hsl
                                            - hsla
                                            - html_body
                                            - http_method
                                            - hubspot_api_key
                                            - huggingface_token
                                            - id
                                            - identity_number
                                            - injection
                                            - integer
                                            - intercom_api_key
                                            - ipc_patent
                                            - ipv4
                                            - ipv6
                                            - isbn
                                            - item
                                            - jfrog_api_key
                                            - join
                                            - json
                                            - jwt
                                            - language_iso_639_1
                                            - language_iso_639_2
                                            - latitude
                                            - launchdarkly_access_token
                                            - legal_name
                                            - limit
                                            - linear_api_key
                                            - linear_client_secret
                                            - linkedin_client_secret
                                            - llm_input
                                            - lob_api_key
                                            - locale
                                            - location
                                            - longitude
                                            - mac
                                            - mailchimp_api_key
                                            - mailgun_private_api_token
                                            - mailgun_signing_key
                                            - mask
                                            - md5
                                            - medical_record_number
                                            - merchant
                                            - messagebird_api_token
                                            - microsoft_teams_webhook
                                            - monero
                                            - mongo_db_object_id
                                            - month
                                            - navigation
                                            - netlify_access_token
                                            - new_relic_user_api_id
                                            - npm_access_token
                                            - offset
                                            - okta_access_token
                                            - openai_api_key
                                            - pagination
                                            - pagination_limit
                                            - pagination_wannabe
                                            - passport
                                            - password
                                            - permission
                                            - phone
                                            - pin_code
                                            - plan
                                            - planetscale_api_token
                                            - planetscale_password
                                            - policy
                                            - port
                                            - postman_api_token
                                            - prescription_number
                                            - price
                                            - private_key
                                            - protocol
                                            - pubnubpublishkey
                                            - pulumi_api_token
                                            - pypi_upload_token
                                            - reason_code
                                            - reference
                                            - region
                                            - return_type
                                            - rgb
                                            - rgba
                                            - role
                                            - rubygems_api_token
                                            - search
                                            - secret
                                            - sendgrid_api_token
                                            - sendinblue_api_token
                                            - sentry_access_token
                                            - serial_number
                                            - sha1
                                            - sha256
                                            - shipping_method
                                            - shippo_api_token
                                            - shopify_access_token
                                            - shopify_custom_access_token
                                            - shopify_private_app_access_token
                                            - shopify_shared_secret
                                            - sidekiq_secret
                                            - slack_bot_token
                                            - slack_legacy_workspace_token
                                            - slack_user_token
                                            - slack_webhook_url
                                            - slug
                                            - social_security_number
                                            - software_component
                                            - ssh_url
                                            - status
                                            - status_code
                                            - status_message
                                            - street_address
                                            - string
                                            - stripe_access_token
                                            - stripe_public_access_token
                                            - sumologic_access_token
                                            - time
                                            - timestamp
                                            - title
                                            - twitch_api_token
                                            - twitter_api_key
                                            - typeform_api_token
                                            - unsanitized_payload
                                            - upload
                                            - uri
                                            - url
                                            - us_bank_account_number
                                            - us_bank_routing_number
                                            - us_zip_code
                                            - user_agent
                                            - username
                                            - uuid
                                            - vault_service_token
                                            - vehicle_type
                                            - version
                                            - view
                                            - year
                                            - zendesk_secret_key
                                            - zip_code
                                            - null
                                          in:
                                            type:
                                            - array
                                            - 'null'
                                            items:
                                              type: string
                                              enum:
                                              - adobe_client_secret
                                              - age_secret_key
                                              - alibaba_access_key_id
                                              - alibaba_secret_key
                                              - amount
                                              - application
                                              - area_code
                                              - asana_client_secret
                                              - atlassian_api_token
                                              - authentication
                                              - author
                                              - authorization_code
                                              - aws_access_token
                                              - aws_mws_id
                                              - bank
                                              - bank_account
                                              - bank_card
                                              - base64
                                              - bcrypt
                                              - beamer_api_token
                                              - bearer
                                              - bearer_uuid
                                              - bitbucket_client_secret
                                              - bitcoin
                                              - body_type
                                              - boolean
                                              - boolean_wannabe
                                              - building
                                              - card_type
                                              - category
                                              - city
                                              - clojars_api_token
                                              - command
                                              - commit_hash
                                              - confirmation_code
                                              - content_type
                                              - country
                                              - country_code
                                              - county
                                              - coupon_code
                                              - cuid
                                              - currency_code
                                              - cvv
                                              - dash
                                              - databricks_api_token
                                              - datadog_access_token
                                              - date
                                              - datetime
                                              - delivery_method
                                              - device_name
                                              - device_type
                                              - did
                                              - digitalocean_pat
                                              - directory
                                              - discount
                                              - document_type
                                              - doppler_api_token
                                              - driving_license
                                              - dropbox_api_token
                                              - dropbox_long_lived_api_token
                                              - dropbox_short_lived_api_token
                                              - duffel_api_token
                                              - duration
                                              - dynatrace_api_token
                                              - e_commerce_indicator
                                              - email
                                              - environment
                                              - ethereum
                                              - event_type
                                              - facebook
                                              - fee
                                              - file
                                              - float
                                              - form
                                              - french_phone
                                              - func
                                              - gender
                                              - github_app_token
                                              - github_fine_grained_pat
                                              - github_oauth
                                              - github_pat
                                              - github_refresh_token
                                              - gitlab_pat
                                              - gitlab_rrt
                                              - google_api_key
                                              - grafana_service_account_token
                                              - hash
                                              - hashicorp_tf_api_token
                                              - health_insurance_number
                                              - heroku_api_key
                                              - hex_color_code
                                              - hexadecimal
                                              - host
                                              - house_number
                                              - hsl
                                              - hsla
                                              - html_body
                                              - http_method
                                              - hubspot_api_key
                                              - huggingface_token
                                              - id
                                              - identity_number
                                              - injection
                                              - integer
                                              - intercom_api_key
                                              - ipc_patent
                                              - ipv4
                                              - ipv6
                                              - isbn
                                              - item
                                              - jfrog_api_key
                                              - join
                                              - json
                                              - jwt
                                              - language_iso_639_1
                                              - language_iso_639_2
                                              - latitude
                                              - launchdarkly_access_token
                                              - legal_name
                                              - limit
                                              - linear_api_key
                                              - linear_client_secret
                                              - linkedin_client_secret
                                              - llm_input
                                              - lob_api_key
                                              - locale
                                              - location
                                              - longitude
                                              - mac
                                              - mailchimp_api_key
                                              - mailgun_private_api_token
                                              - mailgun_signing_key
                                              - mask
                                              - md5
                                              - medical_record_number
                                              - merchant
                                              - messagebird_api_token
                                              - microsoft_teams_webhook
                                              - monero
                                              - mongo_db_object_id
                                              - month
                                              - navigation
                                              - netlify_access_token
                                              - new_relic_user_api_id
                                              - npm_access_token
                                              - offset
                                              - okta_access_token
                                              - openai_api_key
                                              - pagination
                                              - pagination_limit
                                              - pagination_wannabe
                                              - passport
                                              - password
                                              - permission
                                              - phone
                                              - pin_code
                                              - plan
                                              - planetscale_api_token
                                              - planetscale_password
                                              - policy
                                              - port
                                              - postman_api_token
                                              - prescription_number
                                              - price
                                              - private_key
                                              - protocol
                                              - pubnubpublishkey
                                              - pulumi_api_token
                                              - pypi_upload_token
                                              - reason_code
                                              - reference
                                              - region
                                              - return_type
                                              - rgb
                                              - rgba
                                              - role
                                              - rubygems_api_token
                                              - search
                                              - secret
                                              - sendgrid_api_token
                                              - sendinblue_api_token
                                              - sentry_access_token
                                              - serial_number
                                              - sha1
                                              - sha256
                                              - shipping_method
                                              - shippo_api_token
                                              - shopify_access_token
                                              - shopify_custom_access_token
                                              - shopify_private_app_access_token
                                              - shopify_shared_secret
                                              - sidekiq_secret
                                              - slack_bot_token
                                              - slack_legacy_workspace_token
                                              - slack_user_token
                                              - slack_webhook_url
                                              - slug
                                              - social_security_number
                                              - software_component
                                              - ssh_url
                                              - status
                                              - status_code
                                              - status_message
                                              - street_address
                                              - string
                                              - stripe_access_token
                                              - stripe_public_access_token
                                              - sumologic_access_token
                                              - time
                                              - timestamp
                                              - title
                                              - twitch_api_token
                                              - twitter_api_key
                                              - typeform_api_token
                                              - unsanitized_payload
                                              - upload
                                              - uri
                                              - url
                                              - us_bank_account_number
                                              - us_bank_routing_number
                                              - us_zip_code
                                              - user_agent
                                              - username
                                              - uuid
                                              - vault_service_token
                                              - vehicle_type
                                              - version
                                              - view
                                              - year
                                              - zendesk_secret_key
                                              - zip_code
                                      name:
                                        type:
                                        - object
                                        - 'null'
                                        properties:
                                          use_extraction:
                                            type:
                                            - boolean
                                            - 'null'
                                          is:
                                            type:
                                            - string
                                            - 'null'
                                          is_not:
                                            type:
                                            - string
                                            - 'null'
                                          in:
                                            type:
                                            - array
                                            - 'null'
                                            items:
                                              type: string
                                          contains:
                                            type:
                                            - string
                                            - 'null'
                                          regex:
                                            type:
                                            - string
                                            - 'null'
                                      value:
                                        type:
                                        - object
                                        - 'null'
                                        properties:
                                          use_extraction:
                                            type:
                                            - boolean
                                            - 'null'
                                          is:
                                            type:
                                            - string
                                            - 'null'
                                          is_not:
                                            type:
                                            - string
                                            - 'null'
                                          in:
                                            type:
                                            - array
                                            - 'null'
                                            items:
                                              type: string
                                          contains:
                                            type:
                                            - string
                                            - 'null'
                                          regex:
                                            type:
                                            - string
                                            - 'null'
                                      if:
                                        type: string
                                        enum:
                                        - request.object
                                    required:
                                    - if
                                  - type: object
                                    properties:
                                      is:
                                        type:
                                        - boolean
                                        - 'null'
                                      is_not:
                                        type:
                                        - boolean
                                        - 'null'
                                      if:
                                        type: string
                                        enum:
                                        - request.is_authenticated
                                    required:
                                    - if
                                  - type: object
                                    properties:
                                      use_extraction:
                                        type:
                                        - boolean
                                        - 'null'
                                      is:
                                        type:
                                        - string
                                        - 'null'
                                      is_not:
                                        type:
                                        - string
                                        - 'null'
                                      in:
                                        type:
                                        - array
                                        - 'null'
                                        items:
                                          type: string
                                      contains:
                                        type:
                                        - string
                                        - 'null'
                                      regex:
                                        type:
                                        - string
                                        - 'null'
                                      if:
                                        type: string
                                        enum:
                                        - request.user
                                    required:
                                    - if
                                  - type: object
                                    properties:
                                      key:
                                        type:
                                        - object
                                        - 'null'
                                        properties:
                                          use_extraction:
                                            type:
                                            - boolean
                                            - 'null'
                                          is:
                                            type:
                                            - string
                                            - 'null'
                                          is_not:
                                            type:
                                            - string
                                            - 'null'
                                          in:
                                            type:
                                            - array
                                            - 'null'
                                            items:
                                              type: string
                                          contains:
                                            type:
                                            - string
                                            - 'null'
                                          regex:
                                            type:
                                            - string
                                            - 'null'
                                      value:
                                        type:
                                        - object
                                        - 'null'
                                        properties:
                                          use_extraction:
                                            type:
                                            - boolean
                                            - 'null'
                                          is:
                                            type:
                                            - string
                                            - 'null'
                                          is_not:
                                            type:
                                            - string
                                            - 'null'
                                          in:
                                            type:
                                            - array
                                            - 'null'
                                            items:
                                              type: string
                                          contains:
                                            type:
                                            - string
                                            - 'null'
                                          regex:
                                            type:
                                            - string
                                            - 'null'
                                      if:
                                        type: string
                                        enum:
                                        - request.headers
                                    required:
                                    - if
                                  - type: object
                                    properties:
                                      use_extraction:
                                        type:
                                        - boolean
                                        - 'null'
                                      is: {}
                                      is_not: {}
                                      in:
                                        type:
                                        - array
                                        - 'null'
                                        items: {}
                                      jq:
                                        type:
                                        - string
                                        - 'null'
                                      if:
                                        type: string
                                        enum:
                                        - request.body.json
                                    required:
                                    - if
                                  - type: object
                                    properties:
                                      use_extraction:
                                        type:
                                        - boolean
                                        - 'null'
                                      is:
                                        type:
                                        - string
                                        - 'null'
                                      is_not:
                                        type:
                                        - string
                                        - 'null'
                                      in:
                                        type:
                                        - array
                                        - 'null'
                                        items:
                                          type: string
                                      contains:
                                        type:
                                        - string
                                        - 'null'
                                      regex:
                                        type:
                                        - string
                                        - 'null'
                                      if:
                                        type: string
                                        enum:
                                        - request.body.text
                                    required:
                                    - if
                                  - type: object
                                    properties:
                                      is:
                                        type:
                                        - number
                                        - 'null'
                                      is_not:
                                        type:
                                        - number
                                        - 'null'
                                      in:
                                        type:
                                        - array
                                        - 'null'
                                        items:
                                          type: number
                                      gt:
                                        type:
                                        - number
                                        - 'null'
                                      lt:
                                        type:
                                        - number
                                        - 'null'
                                      if:
                                        type: string
                                        enum:
                                        - response.status_code
                                    required:
                                    - if
                                  - type: object
                                    properties:
                                      is:
                                        type:
                                        - number
                                        - 'null'
                                      is_not:
                                        type:
                                        - number
                                        - 'null'
                                      in:
                                        type:
                                        - array
                                        - 'null'
                                        items:
                                          type: number
                                      gt:
                                        type:
                                        - number
                                        - 'null'
                                      lt:
                                        type:
                                        - number
                                        - 'null'
                                      if:
                                        type: string
                                        enum:
                                        - response.duration_ms
                                    required:
                                    - if
                                  - type: object
                                    properties:
                                      key:
                                        type:
                                        - object
                                        - 'null'
                                        properties:
                                          use_extraction:
                                            type:
                                            - boolean
                                            - 'null'
                                          is:
                                            type:
                                            - string
                                            - 'null'
                                          is_not:
                                            type:
                                            - string
                                            - 'null'
                                          in:
                                            type:
                                            - array
                                            - 'null'
                                            items:
                                              type: string
                                          contains:
                                            type:
                                            - string
                                            - 'null'
                                          regex:
                                            type:
                                            - string
                                            - 'null'
                                      value:
                                        type:
                                        - object
                                        - 'null'
                                        properties:
                                          use_extraction:
                                            type:
                                            - boolean
                                            - 'null'
                                          is:
                                            type:
                                            - string
                                            - 'null'
                                          is_not:
                                            type:
                                            - string
                                            - 'null'
                                          in:
                                            type:
                                            - array
                                            - 'null'
                                            items:
                                              type: string
                                          contains:
                                            type:
                                            - string
                                            - 'null'
                                          regex:
                                            type:
                                            - string
                                            - 'null'
                                      if:
                                        type: string
                                        enum:
                                        - response.headers
                                    required:
                                    - if
                                  - type: object
                                    properties:
                                      use_extraction:
                                        type:
                                        - boolean
                                        - 'null'
                                      is: {}
                                      is_not: {}
                                      in:
                                        type:
                                        - array
                                        - 'null'
                                        items: {}
                                      jq:
                                        type:
                                        - string
                                        - 'null'
                                      if:
                                        type: string
                                        enum:
                                        - response.body.json
                                    required:
                                    - if
                                  - type: object
                                    properties:
                                      use_extraction:
                                        type:
                                        - boolean
                                        - 'null'
                                      is:
                                        type:
                                        - string
                                        - 'null'
                                      is_not:
                                        type:
                                        - string
                                        - 'null'
                                      in:
                                        type:
                                        - array
                                        - 'null'
                                        items:
                                          type: string
                                      contains:
                                        type:
                                        - string
                                        - 'null'
                                      regex:
                                        type:
                                        - string
                                        - 'null'
                                      if:
                                        type: string
                                        enum:
                                        - response.body.text
                                    required:
                                    - if
                                  - type: object
                                    properties:
                                      type:
                                        type:
                                        - object
                                        - 'null'
                                        properties:
                                          is:
                                            type:
                                            - string
                                            - 'null'
                                            enum:
                                            - adobe_client_secret
                                            - age_secret_key
                                            - alibaba_access_key_id
                                            - alibaba_secret_key
                                            - amount
                                            - application
                                            - area_code
                                            - asana_client_secret
                                            - atlassian_api_token
                                            - authentication
                                            - author
                                            - authorization_code
[...]
